/** Breakpoints for mpisto Zekzphire **/
/* XS */
@media only screen and (max-width:753px) {
/*.mpisto-grooze {
display:inline!important;
}*/
.mpisto-content, footer.mpisto-footer .mpisto-wrapper, .mpisto-editors-content, .lightbox, .mpisto-options-content {
width:100%!important;
}

.mpisto-content, .mpisto-editors-content, .lightbox, .mpisto-options-content {
width:calc(100% - 36px)!important;
}

footer.mpisto-footer .mpisto-wrapper, .lightbox {
width:calc(100% - 72px)!important;
}


/*.top-gap {
margin-top:8px!important;
}
*/

.mpisto-2018 {
  background-image:none!important
}

/* Fixes for Blink, Webkit, Gecko and Qorta
** Blink and Webkit do not render fixed elements.
** Gecko and Qorta do but items do not seem to be clickable
** This does not affect Microsoft Edge because none of the above cases apply to that browser

 
@supports (-webkit-box-shadow:0 0 10px) or (-moz-appearance:none) {

.top-gap {
padding:6px!important;
}


header.mpisto-navbar { 
position:sticky!important;
}
}
*/
}

/* S */
@media only screen and (max-width:1023px) {

.mpisto-grooze .desktop-wiki {
overflow-x:hidden;
}

header.mpisto-navbar .wds-button.wds-is-secondary {
padding-left:12px;
padding-right:12px;
}

/*.mpisto-content {
padding-left:24px;
padding-right:24px;
}
*/

.mpisto-content, footer.mpisto-footer .mpisto-wrapper, .mpisto-editors-content, .lightbox, .mpisto-options-content {
width:754px;
}

header.mpisto-navbar .mpisto-navbar-wrapper {
  width:100%;
  padding-left:10px;
  padding-right:10px;
}

.mpisto-content, .mpisto-editors-content, .mpisto-options-content {
width:calc(754px - 36px);
}

footer.mpisto-footer .mpisto-wrapper, .lightbox {
width:calc(754px - 72px);
}


header.mpisto-footer-container > div {
  width:754px;
}

footer.mpisto-footer .mpisto-wrapper .mpisto-footer-container th.mpisto-footer-bar h3 {
font-size:14px;
}

header.mpisto-navbar .wiki {
display:none!important;
}

header.mpisto-navbar .wds-list.wds-is-linked > li.create-wiki-small {
display:flex!important;
}

footer.mpisto-footer .mpisto-wrapper .mpisto-footer-container td {
padding:2px 4px 4px;
font-size:14px;
}

.mpisto-right-pane {
-moz-column-count:2;
-webkit-column-count:2;
column-count:2;
}

.editor-header {
flex-wrap:wrap;
height:auto;
width:100%;
}

.editor-header * {
  margin-bottom:1px;
  margin-top:1px;
}

.sourceon .article-area {
-webkit-column-count:1;
column-count:1;
}


.mpisto-option-way > div {
  border:0;
  width:100%;
}

}

/* M */
@media only screen and (min-width:1024px) and (max-width:1151px) {
/*.mpisto-content {
padding-left:10px;
padding-right:10px;
}
*/

.mpisto-content, header.mpisto-navbar .mpisto-navbar-wrapper, footer.mpisto-footer .mpisto-wrapper, .mpisto-editors-content, .lightbox, .mpisto-options-content {
width:988px;
}

header.mpisto-footer-container > div {
  width:988px;
}

.mpisto-content, .mpisto-editors-content {
width:calc(988px - 36px);
}

footer.mpisto-footer .mpisto-wrapper, .lightbox {
width:calc(988px - 72px);
}

.mpisto-option-way > div {
  width:calc(100% - 140px);
}

.mpisto-right-pane {
-moz-column-count:3;
-webkit-column-count:3;
column-count:3;
}

}

/* S + M */
@media only screen and (max-width:1151px) {
footer.mpisto-footer .mpisto-wrapper .mpisto-footer-container td h2 {
font-size:20px;
}

body, .mpisto-2018 {
background-image:none!important; /* Don't use a background image for smaller breakpoints */
}

.mpisto-article-wrapper .mpisto-article {
width:100%;
}

.mpisto-right-pane, .mpisto-editors-content  .mpisto-right-pane, .mpisto-editors-content .mpisto-wrapper .mpisto-article-wrapper .mpisto-right-pane {
width:100%;
}

footer.mpisto-footer .mpisto-wrapper .mpisto-footer-container th h1 {
font-size:28px;
}

.mpisto-wrapper .mpisto-article-wrapper {
  flex-wrap:nowrap;
  flex-direction:column;
}


}



/* XL */
@media only screen and (min-width:1500px) {
/*.mpisto-content {
padding-left:30px;
padding-right:30px;
}
*/

.mpisto-content, header.mpisto-navbar .mpisto-navbar-wrapper, footer.mpisto-footer .mpisto-wrapper, .mpisto-editors-content, .mpisto-options-content, .lightbox {
width:1246px;
}

header.mpisto-footer-container > div {
  width:1246px;
}

.mpisto-content, .mpisto-editors-content {
width:calc(1246px - 36px);
}

footer.mpisto-footer .mpisto-wrapper, .lightbox {
width:calc(1246px - 72px);
}


.mpisto-content h1 {
font-size:34px;
}

.mpisto-content h2 {
font-size:28px;
}

.mpisto-content h3 {
font-size:20px;
}

.mpisto-content h4 {
font-size:17px;
}

.mpisto-module h2 {
font-size:16px;
}

footer.mpisto-footer .mpisto-wrapper .mpisto-footer-container th h1 {
font-size:40px;
}

footer.mpisto-footer .mpisto-wrapper .mpisto-footer-container th.mpisto-footer-bar h3 {
font-size:20px;
}

footer.mpisto-footer .mpisto-wrapper .mpisto-footer-container td h2 {
font-size:30px;
}

footer.mpisto-footer .mpisto-wrapper .mpisto-footer-container td {
font-size:18px;
}
}
