/** Breakpoints for mpisto Zekzphire **/
.mpisto-content, .mpisto-options-content, .mpisto-personal-links, .mpisto-editors-content, footer.mpisto-footer .mpisto-wrapper, .main .page-wrapper, .top-gap, .top-gap .cpe-banner-notification__container#floatingbanner  {
	width:calc(1240px - var(--global-nav-size) - var(--scrollbar-width));
	margin-left:auto;
	margin-right:auto;
	transition:width 150ms ease;
}

/* Wide */
@media only screen and (min-width:760px) {
	main[wide="true"] .mpisto-content,  main[wide="true"] .mpisto-options-content, main[wide="true"] .mpisto-personal-links, main[wide="true"] .mpisto-editors-content, main[wide="true"] footer.mpisto-footer .mpisto-wrapper, main[wide="true"] .page-wrapper, main[wide="true"] .top-gap, .headroom.headroom--not-top .top-gap main[wide="true"] .cpe-banner-notification__container#floatingbanner  {
		width:calc(100% - 40px);
	}
}

@media only screen and (min-width:1280px) and (max-width:1499px) {
	.basicp .color-header .title, .modernp.pane-on .color-header .title {
		font-size:22px;
	}
}



@media only screen and (max-width:359px) {
	.main .mpisto-2018 {
		overflow:auto!important;
	}
}

/* Top Global Nav for Small Devices */
@media only screen and (max-width:511px) {
	.mpisto-option-way label.customization-label {
		display:block;
		font-size:18px;
	}
	container > main {
		flex-direction:column;
		padding-bottom:var(--global-nav-size);
	}
	
	.mpisto-personal-links {
		top:auto;
		bottom:0;
		position:fixed;
	}

		.mpisto-global-sidebar .flags-menu {
			display:none!important;
		}
		.mpisto-global-sidebar {
			width:100%;
			height:var(--global-nav-size);
			flex-direction:row;
		}
		.mpisto-global-sidebar .link {
			width:calc(0.66 * var(--global-nav-size));
			display:inline-flex;
		}
		.mpisto-global-sidebar .link .cpe-icon {
			width:20px;
			height:20px;
			
		}

		.mpisto-global-sidebar .link .cpe-icon.cpe-icon-small {
			width:16px;
			height:16px;
		}


		.mpisto-global-sidebar .link .cpe-icon.cpe-icon-tiny {
			width:11px;
			height:11px;
		}

		.mpisto-global-sidebar .link .mpisto-avatar {
			width:20px;
			height:20px;
			min-width:20px;
			min-height:20px;
			border-width:1.2px;
		}
/* Dropdown */
	.mpisto-global-sidebar .cpe-dropdown[cpe-orient*="land"] .cpe-dropdown__content {
		bottom: unset;
		top: 100%;
		left: 50%;
		transform: translateX(-50%);
		border-radius: 3px;
	}

	.mpisto-global-sidebar .cpe-dropdown.cpe-is-active .cpe-dropdown__content{
		animation: contribution-dropdown 0.3s;
	}
	.mpisto-global-sidebar .cpe-dropdown[cpe-orient*="land"]:after {
		display: block !important;
		bottom: -1px;
		content: "";
		left: 50%;
		pointer-events: none;
		position: absolute;
		z-index: 2;
		transform:none!important;
		margin-left: -8px;
		top: unset;
		transform: unset;
	}
	.mpisto-global-sidebar__bottom .cpe-dropdown.cpe-is-right-aligned .cpe-dropdown__content {
		position: absolute;
	}
	/* End */
	.mpisto-global-sidebar .upper-links {
		flex-direction:row;
	}
	
	.mpisto-global-sidebar .bottom-links {
		flex-direction:row-reverse;
	}
	
	.mpisto-global-sidebar .link[cpe-tooltip]:after,
	.mpisto-global-sidebar .link[cpe-tooltip]:before {
		display:none!important
	}
	.mpisto-global-sidebar .notifications-menu .cpe-dropdown__content,
	.mpisto-global-sidebar .search .cpe-dropdown__content {
		transform:translateX(-246px)!important;
	}
	.mpisto-global-sidebar .create-wiki .cpe-dropdown__content {
		transform:translateX(-100px)!important;
	}
	/* End */
	/* Unset */
	.lightbox-container  {
		--global-nav-size:0px!important;
	}
	.mpisto-editors-content,
	.mpisto-options-content {
		--extra-height:var(--global-nav-size);
	}
}


/* XS */
@media only screen and (max-width:759px) {
:root {
	scrollbar-width:thin;
	scrollbar-color:var(--community-header-bg) var(--content-bg);
	--scrollbar-width:8.5px!important;
}

.mpisto-page-header {
	margin-top:-1px;
}

.mpisto-page-header .mpisto-page-header-title,
.mpisto-userpages-header {
	border-radius:0;
}

container > main {
	--sticky-nav-size:0px!important;
}

container > main .mpisto-sticky-header-container {
	display:none!important;
}

.mpisto-personal-links .link.toggle-size {
	display:none!important;
}




.mpisto-right-pane .mpisto-right-pane-wrapper {
-moz-column-count:1!important;
-webkit-column-count:1!important;
column-count:1!important;
}

.mpisto-content, footer.mpisto-footer .mpisto-wrapper, .mpisto-editors-content, .mpisto-options-content, .mpisto-personal-links, .lightbox, .footer, .top-gap, .top-gap .cpe-banner-notification__container#floatingbanner  {
  width:100%!important;
  border-color:transparent!Important;
  margin-top:0!important;
  min-width:360px;
  border-radius:0!important;
}

.mpisto-right-pane, .mpisto-header-container {
  border-radius:0!important;
}

.mpisto-content .mpisto-wrapper {
	border-color:transparent!important;
}

.mpisto-content .mpisto-page-header-title {
	border-bottom-color:transparent;
}

.editor-header {
	min-height:41.6px;
}

.editor-header .wordmark {
	display:none;
}

.editor-module .cpe-button-group > .cpe-button {
	flex:1;
}

.lightbox {
	margin:0;
}



.mpisto-global-navigation .link {
	padding:0 7.5px;
}

.mpisto-page-header-contribution-buttons .cpe-button {
	margin-bottom:4px;
}

.mpisto-userpages-header .mpisto-profile-masthead hgroup .cpe-button span {
	display:none;
}

.mpisto-userpages-header .mpisto-profile-masthead hgroup .cpe-button .cpe-icon {
	margin:0;
}


.mpisto-gnav .active-search .cpe-dropdown .link {
				font-size:0!important;
				padding:0!important;
				max-width:0!important;
				margin-left:0!Important;
				margin-right:0!Important;
				overflow:hidden;			
}

		.mpisto-gnav .active-search .cpe-dropdown:not(.menu) .link * {
				font-size:0!important;
				padding:0!important;
				width:0!important;	
				height:0!important;
				min-width:0;
				min-height:0;			
		}


.mpisto-spotlight-footer h1 {
	font-size:28px;
}

.mpisto-spotlight-footer h1 > span {
	-webkit-text-stroke-width:1px;
}

.mpisto-spotlight-footer .wrapper {
	flex-direction:column;
}

.mpisto-spotlight-footer nav {
	align-items:center;
	width:auto;
}

.mpisto-spotlight-footer nav:first-child item {
	width:95%;
}


.mpisto-spotlight-footer nav:not(:first-child) item {
	width:95%;
}

.top-gap {
	margin:0!Important;
	
}


.editor-header .cpe-button span {
	padding-left:14px;
	padding-right:14px;
}

.editor-header .cpe-button span {
	display:none;
}

.editor-header .cpe-button .cpe-icon {
	display:inline;
	margin:0!important;
}


.mpisto-option-way h1 {
	font-size:20px;
	-webkit-text-stroke-width:1.1px;
}

.mpisto-option-way h1 .cpe-icon {
	width:18px;
	height:18px;
	min-width:18px;
	min-height:18px;
}

.mpisto-option-way .store-cards .store-card {
	font-size:12px;
}

.fieldset {
	padding:5px;
}

label {
	font-size:15px;
}

.mpisto-option-way h1 .toggle .close {
	display:none!important;
}

.mpisto-option-pane {
width:100%;
height:auto;
visibility:hidden;
opacity:0;
position:absolute;
z-index:1000;
border-width:0 1px 2px;
top:-51px;
filter:brightness(1.5);
display:inline-block; /* Required or else IE but not Edge will not show properly */
}


.transition-on .mpisto-option-pane {
transition:opacity 0.99s ease-in-out 3ms, top 0.99s ease-in-out 3ms, filter 0.99s ease-in-out 3ms, visibility 0.99s ease-in-out 3ms;
}

.pane-on .mpisto-option-pane {
visibility:visible;
opacity:1;
top:0;
filter:brightness(1);
padding-left:4px;
padding-right:4px;
}

.pane-on .mpisto-article-wrapper{
	z-index:61;
	
}

.pane-on .mpisto-article-wrapper:before {
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 61;
    top:0;
    left:0;
    -webkit-backdrop-filter:blur(15px) saturate(1.5);
    backdrop-filter:blur(15px) saturate(1.5);
	border-radius:inherit;
}


.pane-on .mpisto-article-wrapper:after {
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 61;
    background-color:var(--content-color);
    opacity:0.6;
    top:0;
    left:0;
	border-radius:inherit;
}

 .mpisto-option-pane div {
  flex-direction:row;
  justify-content:flex-start;
  overflow-x:auto;
  overflow-y:visible;
}

.basicp .mpisto-option-way h1 .toggle {
  display:inline;
}



 .mpisto-option-way {
width:100%;
}

 .option-link {
flex-direction:column;
flex:1;
padding:4px;
align-items:stretch;
justify-content:center;
display:inline-flex;
}

 .mpisto-option-pane .option-link .cpe-icon {
  width:42px;
  height:42px;
  min-width:42px;
}



 .mpisto-option-pane .option-link .cpe-icon.cpe-icon-small {
  width:32px;
  height:32px;
  min-width:32px;
}

.mpisto-option-pane .option-link .cpe-icon.cpe-icon-tiny {
  width:22px;
  height:22px;
  min-width:22px;
}


.mpisto-option-way .store-cards .store-card {
	flex:1 1 auto;
	width:100%;
}



.mpisto-userpages-header .mpisto-profile-masthead section .cpe-button span {
	display:none;
}


.mpisto-userpages-header .mpisto-profile-masthead section .cpe-button .cpe-icon.single-icon {
	margin:auto!Important;
}

.mpisto-userpages-actions .user-actions {
	clear:both;
}

.mpisto-userpages-tabs .user-actions .cpe-button span {
	display:none;
}

.mpisto-userpages-tabs .user-actions .cpe-button svg {
	margin:0!important;
}

.mpisto-userpages-header .mpisto-userpages-main .mpisto-avatar {
	width:64px;
	border-width:3px;
}

.pageheader-search .cpe-input {
	width:175px;
}


}

/* XS + S */
@media only screen and (max-width:1019px) {
.cpe-input {
	min-width:auto!important;
}


.main .page-wrapper {
	width:100%!important;
}

.mpisto-2018 .mpisto-content, .mpisto-personal-links, .mpisto-2018 footer.mpisto-footer, .mpisto-2018 .mpisto-editors-content, .mpisto-2018 .lightbox, .mpisto-2018 .mpisto-options-content, .mpisto-personal-links, .mpisto-2018 header.mpisto-navbar .mpisto-navbar-wrapper, .mpisto-2018 header.mpisto-global-navigation .mpisto-global-navigation-wrapper {
	min-width:calc(360px - var(--global-nav-size) - var(--scrollbar-width));
}

.mpisto-userpages-header .mpisto-profile-masthead hgroup .cpe-button {
	padding-left:12px;
	padding-right:12px;
}

.mpisto-content .mpisto-title {
	font-size:35px;
	-webkit-text-stroke-width:1.25px;
}

.mpisto-option-way h1 {
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
}


.editor-header h1 {
	font-size:14px;
}

.editor-header h2 {
	font-size:18px;
}


.options pre {
	white-space:pre-wrap;
}

/*
.mpisto-2018 .gradient-overlay , .mpisto-2018 .gradient-overlay-2 {
  visibility:hidden!Important;
}

.mpisto-2018 .body-community-background {
  background-image:url("Empty.png")!important;
}
*/


.mpisto-userpages-header .mpisto-profile-masthead hgroup h1 {
	font-size:30px;
}

.mpisto-userpages-header .mpisto-profile-masthead hgroup h2 {
	font-size:22px;
}

.mpisto-userpages-header .mpisto-profile-masthead hgroup .aka {
	font-size:15px;
}

.mpisto-grooze .desktop-wiki {
overflow-x:hidden;
}

header.mpisto-navbar .cpe-button.cpe-is-secondary {
padding-left:12px;
padding-right:12px;
}

/*.mpisto-content {
padding-left:24px;
padding-right:24px;
}
*/


label {
	font-size:18px;
}

.fieldset fieldset legend,
.fieldset > fieldset > h2 {
	font-size:20px;
}

.fieldset fieldset legend .cpe-icon,
.fieldset > fieldset > h2 .cpe-icon {
	margin-right:4px;
	width:24px;
	height:24px;
	min-width:24px;
	min-height:24px
}


.mpisto-option-way .store-cards .store-card {
	font-size:13px;
}

footer.mpisto-footer .mpisto-wrapper .mpisto-footer-container th.mpisto-footer-bar h3 {
font-size:14px;
}

header.mpisto-navbar .wiki {
display:none!important;
}

header.mpisto-navbar .cpe-list.cpe-is-linked > li.create-wiki-small {
display:flex!important;
}

footer.mpisto-footer .mpisto-wrapper .mpisto-footer-container td {
padding:2px 4px 4px;
font-size:14px;
}

.mpisto-right-pane .mpisto-right-pane-wrapper {
-moz-column-count:2;
-webkit-column-count:2;
column-count:2;
}

.mpisto-article-wrapper .mpisto-left-pane {
width:100%;
}

.mpisto-right-pane, .constructor .mpisto-wrapper .mpisto-right-pane, .mpisto-editors-content  .mpisto-right-pane, .mpisto-editors-content .mpisto-wrapper .mpisto-article-wrapper .mpisto-right-pane {
width:auto;
}

.mpisto-wrapper .mpisto-article-wrapper {
  flex-wrap:nowrap;
  flex-direction:column;
}

.editor-header {
flex-wrap:wrap;
height:auto;
width:100%;
}

.editor-header * {
  margin-bottom:1px;
  margin-top:1px;
}


.mpisto-userpages-header .mpisto-profile-masthead header {
	flex-direction:column;
}

.mpisto-userpages-header .mpisto-profile-masthead section {
	width:100%!important;
	flex:none!important;
}


.log-in-form .cpe-button span {
	display:none!important;
}

.log-in-form .cpe-button svg {
	margin:0!important;
}

.preview-window-desk {
	grid: auto-flow / repeat(1, 1fr);
	width:300px;
}

.mpisto-option-way {
	--max-pic-width:300px;
}

 .mpisto-wiki-wizard-content .mpisto-wiki-wizard-steps .option-link {
font-size:18px;
}



}


/* S */
@media only screen and (min-width:760px) and (max-width:1019px) {
.mpisto-content, footer.mpisto-footer .mpisto-wrapper, .mpisto-editors-content, .mpisto-options-content, .mpisto-personal-links, .top-gap, .top-gap .cpe-banner-notification__container#floatingbanner  {
  width:calc(720px - var(--global-nav-size) - var(--scrollbar-width));
}

/*.basicp .mpisto-option-pane {
width:100%;
height:auto;
visibility:hidden;
opacity:0;
position:absolute;
z-index:1000;
border-width:0 1px 2px;
top:-51px;
filter:brightness(1.5);
display:inline-block; // Required or else IE but not Edge will not show properly
padding-left:2px;
padding-right:2px;
}


.basicp.transition-on .mpisto-option-pane {
transition:opacity 0.99s ease-in-out 3ms, top 0.99s ease-in-out 3ms, filter 0.99s ease-in-out 3ms, visibility 0.99s ease-in-out 3ms;
}

.basicp.pane-on .mpisto-option-pane {
visibility:visible;
opacity:1;
top:0;
filter:brightness(1);
}

.basicp.pane-on .mpisto-article-wrapper{
	z-index:61
}

.basicp.pane-on .mpisto-article-wrapper:after {
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 61;
    background-color:var(--content-color);
    opacity:0.6;
    top:0;
    left:0;
    -webkit-backdrop-filter:blur(17px) saturate(1.5);
    backdrop-filter:blur(17px) saturate(1.5);
	border-radius:inherit;
}

.basicp .mpisto-option-pane div {
  flex-direction:row;
  justify-content:flex-start;
  overflow-x:auto;
  overflow-y:visible;
}


.basicp .mpisto-option-way {
width:100%;
}

.basicp .option-link {
flex-direction:column;
flex:1;
padding:4px;
align-items:stretch;
justify-content:center;
display:inline-flex;
}

.basicp .mpisto-option-pane .option-link .cpe-icon {
  width:42px;
  height:42px;
  min-width:42px;
}



.basicp .mpisto-option-pane .option-link .cpe-icon.cpe-icon-small {
  width:32px;
  height:32px;
  min-width:32px;
}

.basicp .mpisto-option-pane .option-link .cpe-icon.cpe-icon-tiny {
  width:22px;
  height:22px;
  min-width:22px;
}
*/
.mpisto-option-pane .option-link span {
	display:none;
}

.mpisto-option-pane {
	min-width:20px;
}

.mpisto-option-pane h1 {
	font-size:10px;
}

.mpisto-option-way h1 {
	font-size:26px;
	-webkit-text-stroke-width:1.22px;
}

}

/* M */
@media only screen and (min-width:1020px) and (max-width:1279px) {
/*.mpisto-content {
padding-left:10px;
padding-right:10px;
}
*/



.mpisto-option-pane {
	min-width:230px;
}


.mpisto-option-way {
	--max-pic-width:330px;
}

.option-link {
	font-size:17px;
}

.mpisto-option-pane h1 {
	font-size:30px;
}


.mpisto-content, header.mpisto-navbar .mpisto-navbar-wrapper, footer.mpisto-footer .mpisto-wrapper, .mpisto-editors-content, .mpisto-options-content, .mpisto-personal-links, .main .page-wrapper, .top-gap, .top-gap .cpe-banner-notification__container#floatingbanner  /*.lightbox */ {
width:calc(980px - var(--global-nav-size) - var(--scrollbar-width));
}

.basicp .color-header .title, .modernp.pane-on .color-header .title {
	font-size:20px;
}


.mpisto-userpages-header .mpisto-profile-masthead .left-pane {
	width:50%;
}

.mpisto-userpages-header .mpisto-profile-masthead .right-pane {
	width:50%;
}



}

/* S + M */
@media only screen and (max-width:1279px) {
footer.mpisto-footer .mpisto-wrapper .mpisto-footer-container td h2 {
font-size:20px;
}


footer.mpisto-footer .mpisto-wrapper .mpisto-footer-container th h1 {
font-size:28px;
}




.sourceon .article-area {
-webkit-column-count:1;
column-count:1;
}

.mpisto-userpages-header .mpisto-userpages-main {
		display:block;
}

.mpisto-userpages-header .mpisto-userpages-main .mpisto-avatar {
	margin:0 auto;
	display:block;
	border-bottom-width:0;
	border-bottom-left-radius:0;
	border-bottom-right-radius:0;
	
}

.mpisto-userpages-header .mpisto-profile-masthead {
	margin-left:0;

}

}

/* M + L */
@media only screen and (min-width:1020px) and (max-width:1499px) {
.basicp .mpisto-header-container .wordmark, .modernp.pane-on .mpisto-header-container .wordmark {
	display:none!important
}
}


/* M + L + XL */
@media only screen and (min-width:1020px) {
	.mpisto-right-pane {
		border-top-right-radius:calc(var(--border-radius) - 1px);
		border-bottom-left-radius:0;
		border-left:0;
	}
	.mpisto-content:not(.single) .mpisto-page-header-title,
	.mpisto-userpages-header {
		border-top-right-radius:0;
		border-right:0;
	}
}

/* XL */
@media only screen and (min-width:1500px) {
/*.mpisto-content {
padding-left:30px;
padding-right:30px;
}
*/

.mpisto-content, header.mpisto-navbar .mpisto-navbar-wrapper, footer.mpisto-footer .mpisto-wrapper, .mpisto-editors-content, .mpisto-options-content, .mpisto-personal-links, .main .page-wrapper, .top-gap, .top-gap .cpe-banner-notification__container#floatingbanner  /*.lightbox*/ {
width:calc(1460px - var(--global-nav-size) - var(--scrollbar-width)); /* Was 1146px */
}

.mpisto-content .mpisto-title {
	font-size:47px;
}


.mpisto-article h1 {
font-size:36px;
}

.mpisto-article h2 {
font-size:26px;
}

.mpisto-article h3 {
font-size:21px;
}

.mpisto-article h4 {
font-size:18px;
}

.mpisto-article h5 {
font-size:16px;
}

.mpisto-article h6 {
font-size:12px;
}

.mpisto-article {
	font-size:16px;
}

.mpisto-content .mpisto-sub {
	font-size:14px;
}


footer.mpisto-footer .mpisto-wrapper .mpisto-footer-container th.mpisto-footer-bar h3 {
font-size:20px;
}


footer.mpisto-footer .mpisto-wrapper .mpisto-footer-container td {
font-size:18px;
}

label {
	font-size:24px;
}

.fieldset fieldset legend,
.fieldset > fieldset > h2 {
	font-size:28px;
}

.fieldset fieldset legend .cpe-icon,
.fieldset > fieldset > h2 .cpe-icon {
	margin-right:6px;
	width:32px;
	height:32px;
	min-width:32px;
	min-height:32px
}


.mpisto-option-way .store-cards .store-card {
	font-size:16px;
}

footer.mpisto-footer .mpisto-wrapper .mpisto-footer-container th h1 {
font-size:40px;
}

footer.mpisto-footer .mpisto-wrapper .mpisto-footer-container td h2 {
font-size:30px;
}



}

/* L + XL */
@media only screen and (min-width:1280px)  {
.mpisto-userpages-header .mpisto-profile-masthead {
	border-top-left-radius:0;
}

.mpisto-userpages-header .mpisto-userpages-main .mpisto-avatar {
	border-right-width:0;
	border-top-right-radius:0;
	border-bottom-right-radius:0;
	
}

}