@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Patrick+Hand|Roboto+Slab:100,300,400,700|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');

@import url('https://fonts.googleapis.com/css?family=Carrois+Gothic|Coming+Soon|Gochi+Hand|Noto+Sans:400,700|Noto+Serif:400,700|Parisienne&subset=cyrillic,cyrillic-ext,devanagari,greek,greek-ext,latin-ext,vietnamese');

/* Chat CSS */

/* Roboto Font Pack */
:root body container, .cpe-button {
	font-family:"Roboto", sans-serif;
	background-image:none!important;
	margin:0;
	overflow-y:hidden;
}

:root .serif, .serif .cpe-button {
	font-family:"Roboto Slab", serif;
}

:root .cursive, .cursive .cpe-button {
	font-family:"Dancing Script", cursive;
}

:root .comic, .comic .cpe-button {
	font-family:"Patrick Hand", fantasy;
}

:root .special, .special .cpe-button {
	font-family:"Coming Soon", casual;
}

/* Noto Font Pack */
:root .sserif2, .sserif2 .cpe-button {
	font-family:"Noto Sans", sans-serif;
}

:root .nserif2, .nserif2 .cpe-button {
	font-family:"Noto Serif", serif;
}

:root .ncursive2, .ncursive2 .cpe-button {
	font-family:"Parisienne", cursive;
}

:root .ncomic2, .ncomic2 .cpe-button {
	font-family:"Gochi Hand", fantasy;
}

:root .nspecial2, .nspecial2 .cpe-button {
	font-family:"Carrois Gothic", casual;
}


body *, :before, :after {
	backdrop-filter:none!important;
	-webkit-backdrop-filter:none!important;
}

/* Drop Overlay */
.gradient-overlay, .gradient-overlay-2 {
	display:none!important;
}

/* Drop Color Filters */
[class*=filter] {
	filter:none!important;
	backdrop-filter:none!important;
}

.chat-site-wrapper {
	display:flex;
	flex-direction:column;
	width:100vw;
	height:100vh;
	min-width:1024px;
	max-width:1680px;
	margin:0 auto;
	padding:10px;
	overflow-y:hidden;
}

@media only screen and (max-width:1023px) {
.chat-site-wrapper {
	position:absolute;
	height:100%;
}
}

.chat-header {
	display:flex;
	width:100%;
	height:75px;
	margin:0 0 10px;
	align-items:center;
	border:1px solid var(--content-border);
	background-color:var(--content-bg);
	border-radius:6px 6px 0 0;
	padding:0 18px;
	font-size:14px;
}

.chat-header .wordmark-container {
	flex:1;
}

.chat-header .wordmark-container .wordmark img {
	width:auto;
	height:65px;
	max-width:250px; /* Match .cpe-community-header__wordmark */
}

.chat-header .member-container {
	display:flex;
	align-items:center;
	border-left-color:var(--content-border);
	padding:0 5px 0 10px;
	height:75px;
	margin-left:5px;
}

.chat-header .member-container .cpe-avatar {
	width:57px;
	height:57px;
	border-width:4px;
	box-sizing:border-box;
	border-color:var(--content-border);
	padding:2px;
	box-shadow:0 0 0 2px currentColor, 0 0 0 2px currentColor inset;
}

.chat-header .member-container span {
	font-weight:500;
	text-overflow:ellipsis;
	max-width:100px;
	font-size:125%;
	padding:0 10px;
}

.chat-content {
	flex:1;
	width:100%;
	display:flex;
	flex-direction:column;
	border:1px solid var(--content-border);
	background-color:var(--content-bg);
	border-radius:0 0 6px 6px;
}

.chat-content * {
	scrollbar-width:thin;
	scrollbar-color:var(--emphasis-bg) transparent;
}

[visualtheme*="contrast"] .chat-content * {
	scrollbar-color:var(--content-color) transparent;
}

.chat-content .wrapper {
	display:flex;
	flex:1;
	border-bottom:1px solid var(--content-border);
	width:100%;
}

.emoji-reaction {
	opacity:0;
}

.emoji-reaction .reaction-count {
	margin:0 1px 0 10px;
	font-stretch:semi-expanded;
	font-weight:500;
}

.emoji-reaction emoji {
	font-weight:bold;
	font-stretch:semi-expanded;
	color:inherit;
	margin:0 1px;
	text-shadow:none;
}

.emoji-reaction .cpe-is-square {
	width:18px;
	height:18px;
	min-width:18px;
	min-height:18px;
	font-size:18px;
	padding:0 2px;
}

[visualtheme*="contrast"] .emoji-reaction .cpe-is-square {
	color:inherit!important;
}

.chat-content .wrapper section message:hover .emoji-reaction {
	opacity:1;
}


.emoji-reaction .cpe-dropdown__content .cpe-list {
	max-height:150px;
}

.emoji-reaction .cpe-dropdown__content .cpe-list>li>a {
	display:flex;
 }

.emoji-reaction .cpe-dropdown__content .cpe-list>li span:not(.reaction-count) {
	flex:1;
}

.chat-content .wrapper section message {
	width:100%;
	padding:10px;
	display:flex;
	align-items:flex-start;
	font-size:15px;
}


.chat-content .wrapper section message[you] {
	background-color:var(--dropdown-bg);
}

[visualtheme*="contrast"] .chat-content .wrapper section message[you] {
	color:var(--button-color-text);
	background-color:var(--button-color);
}

.chat-content .wrapper section message .cpe-avatar {
	width:40px;
	height:40px;
	border:0;
}

.chat-content .wrapper section message > div {
	margin-left:10px;
	width:100%;
	display:flex;
	flex-direction:column;
}

.chat-content .wrapper section message > div .user-info {
	margin-bottom:5px;
	width:100%;
	display:flex;
	align-items:center;
}

.chat-content .wrapper section message > div .user-info .time {
	opacity:0.8;
	font-size:90%;
}

[visualtheme*="contrast"] .chat-content .wrapper section message > div .user-info .time {
	opacity:1;
}

.chat-content .wrapper section message > div .user-info .name  {
	flex:1;
	
}


.chat-content .wrapper section message > div post  {
	letter-spacing:0.04px;
}

.chat-content .wrapper section {
	height:calc(100vh - 162.5px);
}

.chat-content .wrapper section:not([pane]) {
	flex:1;
	border:1px solid var(--content-border);
	border-style:hidden solid;
	overflow-x:hidden;
	overflow-y:auto;
}

.chat-content .wrapper section[pane] {
	width:150px;
	display:flex;
	flex-direction:column;
}

.chat-content .wrapper section[pane] .cpe-button-group {
	display:flex;
	border-top:1px solid var(--content-border);
	padding:5px;
}

.chat-content .wrapper section[pane] .cpe-button-group .cpe-button, .chat-content .wrapper section[pane] .cpe-button-group .cpe-dropdown{
	flex:1;
}

.chat-content .wrapper section[pane] h1 {
	margin:0;
	padding:10px 0;
	font-size:20px;
	font-weight:inherit;
	line-height:20px;
	text-align:center;
	border-bottom:1px solid var(--content-border);
}

.chat-content .wrapper section[pane] .list {
	flex:1;
	display:flex;
	flex-direction:column;
	overflow-x:hidden;
	overflow-y:auto;
}

.chat-content .wrapper section[pane] .list .channel::before {
	content:"#";
	font-weight:600;
	margin-right:5px;
	display:inline!important;
}

.chat-content .wrapper section[pane] .list .channel {
	padding:5px 10px;
	border-radius:0 30px 30px 0;
	text-decoration:none;
	margin:5px 5px 5px 0;
	border:1px solid transparent;
	border-left:0;
	transition-property:color, broder-color, background-color;
	transition-duration:250ms;
	transition-delay:5ms;
	transition-timing-function:ease;
}

body:not([class*="page"]) .chat-content .wrapper section[pane] .list .channel:nth-child(1), .page-1 .chat-content .wrapper section[pane] .list .channel:nth-child(2) {
	background-color:rgba(var(--link-color-rgb),0.2);
	border-color:rgba(var(--link-color-rgb),0.2);
	color:var(--link-color);
}

[visualtheme*="contrast"] body:not([class*="page"]) .chat-content .wrapper section[pane] .list .channel:nth-child(1), [visualtheme*="contrast"] .page-1 .chat-content .wrapper section[pane] .list .channel:nth-child(2) {
	border-color:var(--button-color-text);
	background-color:var(--button-color);
	color:var(--button-color-text);
}

.chat-content .wrapper section[pane] .list .info {
	display:flex;
	align-items:center;
	padding:5px;
	font-size:13px;
	border:0;
	width:100%;
}

.chat-content .wrapper section[pane] .list .cpe-dropdown:hover .info {
	background-color:var(--dropdown-bg);
}


[visualtheme*="contrast"] .chat-content .wrapper section[pane] .list .cpe-dropdown:hover .info {
	background-color:var(--button-color);
	color:var(--button-color-text);
}

.chat-content .wrapper section[pane] .list .info:first-child {
	margin-top:5px;
}

.chat-content .wrapper section[pane] .list .info .cpe-avatar {
	border:0;
	margin-right:5px;
}

.chat-content .wrapper section[pane] .list .info div {
	display:flex;
	flex-direction:column;
}

.chat-content .wrapper section[pane] .list .info span:first-child {
	font-weight:bold;
	max-width:100px;
	text-overflow:ellipsis;
}

body:not([visualtheme*="contrast"]) .chat-content .wrapper section[pane] .list .info span[online] {
	color:limegreen;
}

body:not([visualtheme*="contrast"]) .chat-content .wrapper section[pane] .list .info span[idile] {
	color:orange;
}
body:not([visualtheme*="contrast"]) .chat-content .wrapper section[pane] .list .info span[offline] {
	color:red;
}

.chat-content .footer {
	display:flex;
	width:100%;
	height:55px;
	border-bottom-left-radius:inherit;
	border-bottom-right-radius:inherit;
	padding:0 5px;
	align-items:center;
}

.chat-content .footer .cpe-avatar {
	border-width:3px;
	width:45px;
	height:45px;
	box-sizing:border-box;
}

.chat-content .footer textarea {
	flex:1;
	height:45px;
	border-width:1px;
	border-style:solid;
	border-color:var(--content-border);
	background-color:var(--dropdown-bg);
	box-sizing:border-box;
	font-family:inherit;
	padding:5px;
	color:inherit;
	font-size:14px;
	margin:0 5px;
	overflow:auto;
}

/* Implement IE Behavior of placeholder on focused input/textarea element on other browsers */

.chat-content .footer textarea:focus::placeholder {
	color:transparent;
}