/** Primary Fonts **/
/* 
**
Gothic A1 = Korean
M PLUS 1p = Japanese and Hebrew
Prompt = Thailandish
Cairo = Arabic
Ramabhadra = Telegu
Catamaran = Tamil
Noto Sans = Devanagari and Chinese
Hind Siliguri = Bengali
Inter/Didact Gothic = Greek, Latin and Cyrillic
**
*/
@import url('https://fonts.googleapis.com/css?family=Gothic+A1:100,200,300,400,500,600,700,800,900|M+PLUS+1p:100,300,400,500,700,800,900|Prompt:100,200,300,400,500,600,700,800,900|Source+Sans+Pro:200,300,400,600,700,900&subset=cyrillic,cyrillic-ext,greek,greek-ext,hebrew,japanese,korean,latin-ext,thai,vietnamese');

@import url('https://fonts.googleapis.com/css?family=Cairo:200,300,400,600,700,900|Catamaran:100,200,300,400,500,600,700,800,900|Ramabhadra|Ubuntu:300,400,500,700&subset=arabic,cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,tamil,telugu');

@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700|Noto+Sans+SC:100,300,400,500,700,900|Noto+Sans+TC:100,300,400,500,700,900|Noto+Sans+HK:100,300,400,500,700,900|Hind+Siliguri:300,400,500,600,700|Didact+Gothic');
/** Secondary Fonts **/
/* 
**
Jua (Formerly Nanum Gothic) = Korean
M PLUS Rounded 1c = Japanese
Mitr = Thailandish
Mada = Arabic
NTR = Telegu
Pavanam = Tamil
Mukta = Devanagari
Noto Sans = Chinese
Baloo Da 2 = Bengali
Jura = Greek and Cyrillic (Old)
Arimo = Greek
Rubik = Latin, Cyrrilic and Hebrew
Raleway = Latin (Old)
**
*/
@import url('https://fonts.googleapis.com/css?family=Jura:300,400,500,600,700|M+PLUS+Rounded+1c:100,300,400,500,700,800|Mitr:200,300,400,500,600,700|Nanum+Gothic:400,700,800|Raleway:100,200,300,400,500,600,700,800,900&subset=cyrillic,cyrillic-ext,greek,greek-ext,hebrew,japanese,korean,latin-ext,thai,vietnamese');

@import url('https://fonts.googleapis.com/css?family=Jua|Mada:200,300,400,500,600,700,900|NTR|Pavanam&subset=arabic,korean,latin-ext,tamil,telugu');

@import url('https://fonts.googleapis.com/css?family=Mukta:200,300,400,500,600,700,800|Baloo+Da+2');
/* Arniki Forniki and former versions of MpistoMobile2 */
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900&subset=cyrillic,hebrew,latin-ext');
/* Misc */
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&subset=latin-ext');
/* Old Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');
@import url('https://fonts.googleapis.com/css?family=Play:400,700&subset=cyrillic,cyrillic-ext,greek,latin-ext,vietnamese');
@import url("https://fonts.googleapis.com/css?family=Fira+Sans:100,200,300,400,500,600,700,800,900&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese");

/* Serif */
/* 
**
Song Myung = Korean
Noto Serif = Japanese
Pridi = Thailandish
Amiri = Arabic
Ramaraja = Telegu
No font (Catamaran) = Tamil
Martel = Devanagari
Noto Serif = Chinese
No font (Hind Siliguri) = Bengali
David Libre = Hebrew
Vollkorn = Greek and Cyrillic
Aleo = Latin
**
*/

@import url('https://fonts.googleapis.com/css?family=Amiri:400,700|Cambo|David+Libre:400,500,700|Lora:400,700|Merriweather:300,400,700,900|Neuton:200,300,400,400i,700,800|Noto+Serif+JP:200,300,400,500,600,700,900|Noto+Serif:400,700|Pridi:200,300,400,500,600,700|Ramaraja|Song+Myung|Source+Serif+Pro:400,600,700&subset=arabic,cyrillic,cyrillic-ext,greek,greek-ext,hebrew,japanese,korean,latin-ext,telugu,thai,vietnamese');
@import url('https://fonts.googleapis.com/css?family=Arvo:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:300,400,700,800|PT+Sans:400,700|PT+Serif:400,700|Roboto+Slab:100,300,400,700|Roboto:100,300,400,500,700,900|Varela&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');
@import url('https://fonts.googleapis.com/css?family=Aleo:300,400,700&subset=latin-ext');

@import url('https://fonts.googleapis.com/css?family=Cutive|Gentium+Basic:400,700&subset=latin-ext');

@import url('https://fonts.googleapis.com/css?family=Martel:200,300,400,600,700,800,900|Noto+Serif+SC:200,300,400,500,600,700,900|Noto+Serif+TC:200,300,400,500,600,700,900|Vollkorn:400,500,600,700,800,900');

/* Mono Fonts */
@import url('https://fonts.googleapis.com/css?family=Cutive+Mono|Fira+Mono:400,500,700&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext');

/* Arimo */
@import url('https://fonts.googleapis.com/css?family=Arimo:400,700&subset=cyrillic,cyrillic-ext,greek,greek-ext,hebrew,latin-ext,vietnamese');
@import url('https://rsms.me/inter/inter.css');


/* GTK Font (By GTK Team) */
@font-face {
    font-family:  GTK;
    src:url('GTK-Regular.ttf') format('truetype');
	font-weight:400;
}

@font-face {
    font-family:  GTK;
    src:url('GTK-Bold.ttf') format('truetype');
	font-weight:700;
}


/* Mpisto font */
@font-face {
    font-family:  Mpisto;
    src:url('MpistoU2019-MediumCondensed.ttf') format('truetype');
	font-weight:500;
	font-stretch: condensed
}

/*@font-face {
    font-family:  Mpisto;
    src:url('Mpisto2019-SemiCondensedMedium.ttf') format('truetype');
	font-weight:500;
	font-stretch: semi-condensed
}

@font-face {
    font-family:  Mpisto;
    src:url('Mpisto2019-SemiexpandedMedium.ttf') format('truetype');
	font-weight:500;
	font-stretch: semi-expanded
}

@font-face {
    font-family:  Mpisto;
    src:url('Mpisto2019-CondensedMedium.ttf') format('truetype');
	font-weight:500;
	font-stretch: condensed
}

@font-face {
    font-family:  Mpisto;
    src:url('Mpisto2019-expandedMedium.ttf') format('truetype');
	font-weight:500;
	font-stretch: expandeed
}

@font-face {
    font-family:  Mpisto;
    src:url('Mpisto2019-ExtraCondensedMedium.ttf') format('truetype');
	font-weight:500;
	font-stretch: extra-condensed
}

@font-face {
    font-family:  Mpisto;
    src:url('Mpisto2019-ExtraExpandedMedium.ttf') format('truetype');
	font-weight:500;
	font-stretch: extra-expanded
}

@font-face {
    font-family:  Mpisto;
    src:url('Mpisto2019-UltraCondensedMedium.ttf') format('truetype');
	font-weight:500;
	font-stretch: ultra-condensed
}

@font-face {
    font-family:  Mpisto;
    src:url('Mpisto2019-UltraExpandedMedium.ttf') format('truetype');
	font-weight:500;
	font-stretch: ultra-expanded
}


*/
	   
@font-face {
    font-family:  Mpisto;
    src:url('MpistoU2019-Regular.ttf') format('truetype');
}

@font-face {
    font-family:  Mpisto;
    src:url('MpistoU2019-Light.ttf') format('truetype');
	font-weight:300;
}

@font-face {
    font-family:  Mpisto;
    src:url('MpistoU2019-Medium.ttf') format('truetype');
	font-weight:500;
}

@font-face {
    font-family:  Mpisto;
    src:url('MpistoU2019-Bold.ttf') format('truetype');
	font-weight:700;
}

@font-face {
    font-family:  Mpisto Serif;
    src:url('MpistoSerif-Light.ttf') format('truetype');
    font-weight:300;
}


@font-face {
    font-family:  Mpisto Serif;
    src:url('MpistoSerif-Regular.ttf') format('truetype');
}


@font-face {
    font-family:  Mpisto Serif;
    src:url('MpistoSerif-Bold.ttf') format('truetype');
	font-weight:700;
}

@font-face {
    font-family:  Mpisto Serif;
    src:url('MpistoSerif-Extrabold.ttf') format('truetype');
	font-weight:800;
}


@font-face {
    font-family: LCD;
    src: url('https://images.wikia.nocookie.net/__cb20161004075228/24wikia/images/d/db/LCD_ITC-Normal.otf') format('opentype'),url('https://images.wikia.nocookie.net/__cb20161004075229/24wikia/images/a/a5/LCD_ITC-Normal.woff') format('woff'),url('https://images.wikia.nocookie.net/__cb20161004075228/24wikia/images/1/1e/LCD_ITC-N0ormal.ttf') format('truetype')
}

@font-face {
    font-family:  Tahoma2;
    src:url('Tahoma.ttf') format('truetype');
}

@font-face {
    font-family:  Georgia2;
    src:url('Georgia.ttf') format('truetype');
}


@font-face {
    font-family:  Arial2;
    src:url('Arial.ttf') format('truetype');
}


@font-face {
    font-family:  Source Pro Sans;
    src:url('Source Pro Sans T.ttf') format('truetype');
	font-weight:100;
}

@font-face {
    font-family:  Source Pro Sans;
    src:url('Source Pro Sans EL.ttf') format('truetype');
	font-weight:200;
}

@font-face {
    font-family:  Source Pro Sans;
    src:url('Source Pro Sans L.ttf') format('truetype');
	font-weight:300;
}

@font-face {
    font-family:  Source Pro Sans;
    src:url('Source Pro Sans.ttf') format('truetype');
}

@font-face {
    font-family:  Source Pro Sans;
    src:url('Source Pro Sans M.ttf') format('truetype');
	font-weight:500;
}

@font-face {
    font-family:  Source Pro Sans;
    src:url('Source Pro Sans SB.ttf') format('truetype');
	font-weight:600;
}

@font-face {
    font-family:  Source Pro Sans;
    src:url('Source Pro Sans B.ttf') format('truetype');
	font-weight:700;
}

@font-face {
    font-family:  Source Pro Sans;
    src:url('Source Pro Sans EB.ttf') format('truetype');
	font-weight:800;
}

@font-face {
    font-family:  Source Pro Sans;
    src:url('Source Pro Sans H.ttf') format('truetype');
	font-weight:900;
}

@font-face {
    font-family:  Source Pro Sans;
    src:url('Source Pro Sans B.ttf') format('truetype');
	font-weight:900;
}


@font-face {
    font-family:  Source Pro Serif;
    src:url('Source Pro Serif T.ttf') format('truetype');
	font-weight:100;
}

@font-face {
    font-family:  Source Pro Serif;
    src:url('Source Pro Serif EL.ttf') format('truetype');
	font-weight:200;
}

@font-face {
    font-family:  Source Pro Serif;
    src:url('Source Pro Serif L.ttf') format('truetype');
	font-weight:300;
}

@font-face {
    font-family:  Source Pro Serif;
    src:url('Source Pro Serif.ttf') format('truetype');
}

@font-face {
    font-family:  Source Pro Serif;
    src:url('Source Pro Serif M.ttf') format('truetype');
	font-weight:500;
}

@font-face {
    font-family:  Source Pro Serif;
    src:url('Source Pro Serif SB.ttf') format('truetype');
	font-weight:600;
}


@font-face {
    font-family:  Source Pro Serif;
    src:url('Source Pro Serif B.ttf') format('truetype');
	font-weight:700;
}

@font-face {
    font-family:  Source Pro Serif;
    src:url('Source Pro Serif EB.ttf') format('truetype');
	font-weight:800;
}

@font-face {
    font-family:  Source Pro Serif;
    src:url('Source Pro Serif H.ttf') format('truetype');
	font-weight:900;
}


:root { /* Standard */
--background-image:url("loadbg_dev.png");
--background-color:#441177;
--background-overlay:auto;
--link-color:221,35,0;
--content-bg:#f1f2f3;
--content-border:#aaabbb;
--content-color:#222222;
--button-color:#dd8300;
--community-header-bg:184,131,0;
--body-display:modern;
--background-va:top;
--background-size:cover;
--background-no-tiling:false;
}

:root {
font-family:Trebuchet MS;
scrollbar-color:var(--button-color) var(--background-color);
/** Scrollbar Styling **/
	/* Width */
	--scrollbar-width:17px;
	/* Track */
	--scrollbar-track-color-1:var(--background-color);
	--scrollbar-track-color-2:var(--background-color-dark);
	--scrollbar-track-color-3:var(--background-color-dark-super);
	--scrollbar-track-text:var(--background-color-text);
	/* Thumb */
	--scrollbar-thumb-color-1:var(--button-color);
	--scrollbar-thumb-color-2:var(--button-color-dark);
	--scrollbar-thumb-color-3:var(--button-color-dark-super);
	--scrollbar-thumb-text:var(--button-color-text);
/* Aliases */
--background-overlay:auto;
--body-display:modern;
--background-va:top;
--background-size:cover;
--background-no-tiling:false;
/* Fonts */
--font-family:"Didact Gothic", "Inter", -apple-system, BlinkMacSystemFont;
--foreign-fonts:"Didact Gothic", "Nanum Gothic", "M PLUS 1p", "Prompt", "Cairo", "Ramabhadra", "Catamaran", "Noto Sans", "Noto Sans SC", "Noto Sans TC", "Noto Sans HK", "Hind Siliguri";
--secondary-foreign-fonts:"Jua","M PLUS Rounded 1c", "Mitr", "NTR", "Pavanam", "Mukta", "Noto Sans SC", "Noto Sans TC", "Noto Sans HK", "Baloo Da 2", "Rubik";
--secondary-font:var(--custom-secondary-font), "Rubik","Arimo", "Liberation Sans", var(--secondary-foreign-fonts);
--custom-secondary-font:"";
--button-radius:3px;

}

/* Body Styling */
body {
  margin:0 auto;
  background-color:var(--background-color);
  font-family:var(--font-family), var(--foreign-fonts);
  color:var(--background-color-text);
	background-repeat:no-repeat;
	background-attachment:local;
	background-attachment:fixed;
	background-position:center;
	background-position-y:var(--background-va);
	background-size:cover;
	background-image:var(--background-image);
	background-color:var(--background-color);
	cursor:url("Windows/default.cur"), default;

}

body[body-display*="legacy"] {
	background-repeat:repeat;
	--background-overlay:var(--background-color)!important;
}

body[body-display*="legacy"][background-size*="contain"] {
	background-size:contain;
}

body[body-display*="legacy"][background-size*="stretched"] {
	background-size:100% 100%;
	background-position:center;
}

body[body-display*="legacy"][background-size*="full"] {
	background-size:auto;
}

body[body-display*="legacy"][body-no-tiling*="true"] {
	background-repeat:no-repeat;
}


body[content-color-auto*="false"] .colora-on,
body[content-color-auto*="true"] .colora-off,
body[content-border-auto*="false"] .bordera-on,
body[content-border-auto*="true"] .bordera-off,
body[background-overlay-auto*="false"] .overlaya-on,
body[background-overlay-auto*="true"] .overlaya-off { 
	display:none!important;
}

.secondary, h1, h2, h3, h4, h5, h6 {
  font-family:var(--secondary-font), cursive;
}

body[body-display*="legacy"] .gradient-overlay,
body[body-display*="legacy"] .gradient-overlay-2 {
	display:none!important;
}

.gradient-overlay-2 {
	top:0;
	left:0;
	width:100%;
	height:100%;
	position:fixed!Important;
	display:block;
	content:"";
	z-index:1;
	background-color:var(--background-overlay);
	-webkit-mask-image:linear-gradient(to bottom, rgba(0,0,0,0), black 98%);
  image-rendering:initial;                  /* CSS4 Proposed  */
  -qq-image-blurring:tick;                  /* 4x4 Web 1-2    */
}



.gradient-overlay, .gradient-overlay {
	top:0;
	left:0;
	width:100%;
	height:100%;
	position:fixed!Important;
	display:block;
	content:"";
	z-index:1;
	background-color:var(--background-color);
	opacity:0.75;
	pointer-events:none;
}

/* Option and Headings */
button, input {
position:relative;
font-family:inherit;
text-transform:none; /* Drops the inheritance in Edge and Firefox */
letter-spacing:normal; /* Drops the inheritance of letter-spacing in Linux and Android Qorta Qorte */
word-spacing:normal; /* Drops the inheritance of word-spacing in Linux and Android Qorta Qorte */
box-shadow:none;
text-shadow:none;
}

option {
background-color:var(--dropdown-bg);
}

option:hover {
background-color:var(--button-color)!important;
color:var(--button-color-text)!important;
}


h1,h2,h3,h4,h5,h6 {
margin:8px 0;
font-style:inherit;
font-weight:inherit;
}



/* Monaco Skin Compatibility CSS */
.color1 {
	background-color: var(--button-color);
	color:var(--button-color-text)
}

.color1 a {
	color:inherit;
}

.color2 {
	background-color:var(--content-border);
}

.dark_text_1, .dark_text_2 {
	color:rgb(var(--link-color));
}


.accent	{
	background-color:var(--accent-bg);
	border-color:rgb(var(--link-color));
	color: var(--content-color);
}

.neutral {
	background-color: var(--content-border);
	border-color:rgb(var(--link-color));
	color: var(--content-color);
}



/* Selection */

::selection {
background-color:rgba(var(--link-color-dark), 0.5);
cursor:inherit;
text-shadow:none;
}

/* Scrollbars */
::-webkit-scrollbar {
width:var(--scrollbar-width);
height:var(--scrollbar-width);
background-color:var(--scrollbar-track-color-1);
position:relative;
cursor:url("Windows/default.cur"), default;
}

::-webkit-scrollbar-thumb {
  background-color:var(--scrollbar-thumb-color-1);
  box-shadow:0 0px 0 2px inset var(--scrollbar-thumb-color-1);
  border:2px solid var(--scrollbar-track-color-1);
  border-radius:var(--scrollbar-width);
  color:var(--scrollbar-thumb-text);
}

::-webkit-scrollbar-thumb:hover {
  background-color:var(--scrollbar-thumb-color-2);
  box-shadow:0 0px 0 2px inset var(--scrollbar-thumb-color-2);
}

::-webkit-scrollbar-thumb:active {
  background-color:var(--scrollbar-thumb-color-3);
  box-shadow:0 0px 0 2px inset var(--scrollbar-thumb-color-3);
}

::-webkit-scrollbar-thumb:vertical {
	min-height:20px;
}

::-webkit-scrollbar-thumb:horizontal {
	min-width:20px;
}


::-webkit-scrollbar-button {
  background-color:var(--scrollbar-track-color-1);
  color:var(--scrollbar-track-text);
  background-size:75%;
  background-position:center;
  background-repeat:no-repeat;
  width:var(--scrollbar-width);
  height:var(--scrollbar-width);
  border:0 solid var(--scrollbar-track-text);
}


::-webkit-scrollbar-button:hover {
  background-color:var(--scrollbar-track-color-2);
}

::-webkit-scrollbar-button:active {
  background-color:var(--scrollbar-track-color-3);
}

::-webkit-scrollbar-button:vertical:start {
	border-bottom-width:1px;
	border-bottom-left-radius:var(--scrollbar-width);
	border-bottom-right-radius:var(--scrollbar-width);
}

::-webkit-scrollbar-button:vertical {
	border-left-width:1px;
	border-right-width:1px;
}

::-webkit-scrollbar-button:horizontal {
	border-top-width:1px;
	border-bottom-width:1px;
}

::-webkit-scrollbar-button:vertical:end {
	border-top-width:1px;
	border-top-left-radius:var(--scrollbar-width);
	border-top-right-radius:var(--scrollbar-width);
}

::-webkit-scrollbar-button:horizontal:start {
	border-right-width:1px;
	border-top-right-radius:var(--scrollbar-width);
	border-bottom-right-radius:var(--scrollbar-width);
}


::-webkit-scrollbar-button:horizontal:end {
	border-left-width:1px;
	border-top-left-radius:var(--scrollbar-width);
	border-bottom-left-radius:var(--scrollbar-width);
}

::-webkit-scrollbar-corner {
	background-color:var(--scrollbar-track-text);
}




/** Buttons **/
/* Primary */
.cpe-button {
    transition:background-color 200ms, border-color 200ms, outline-offset 50ms, outline-color 200ms, color 200ms, box-shadow 200ms;
    font-size:13px;
    font-family:var(--secondary-font);
    font-weight:600;
    color:var(--button-color-text);
    padding:7px 12px;
    border-radius:var(--button-radius);
    display:inline-flex;
    align-items:center;
    justify-content:center;
    vertical-align:middle;
    line-height:16px;
    border:0px solid;
    border-color:var(--button-color);
    background-color:var(--button-color);
    outline:2px solid transparent;
    outline-offset:0px;
    box-sizing:content-box;
    min-height:18px;
    box-shadow:0 0 1.5px 1.5px var(--button-color);
    margin:2.5px;
    cursor:url("Windows/default.cur"), default;
}

a.cpe-button, button.cpe-button {
  cursor:url("Windows/hand.cur"), pointer;
}


.cpe-button:hover {
    border-color:var(--button-color-dark);
    background-color:var(--button-color-dark);
    color:var(--button-color-text);
    box-shadow:0 0 1.5px 1.5px var(--button-color-dark);
}

.cpe-button:active, .cpe-button.cpe-is-active {
    border-color:var(--button-color-dark-super);
    background-color:var(--button-color-dark-super);
    box-shadow:0 0 1.5px 1.5px var(--button-color-dark-super);
    outline-color:transparent;
    outline-offset:0px
}

.cpe-button:focus:not(:active):not(.cpe-is-active) {
  outline-color:currentcolor;
  outline-offset:-2px;
  border-color:var(--button-color);
}

/* Secondary */
.cpe-button.cpe-is-secondary {
    border-color:var(--content-color);
    background-color:var(--content-bg);
    color:var(--content-color);
    box-shadow:0 0 1.5px 1.5px var(--content-bg);
}

.cpe-button.cpe-is-secondary:hover {
    border-color:var(--content-color-dark);
    background-color:var(--button-color-content-bg-mix-light);
    color:var(--content-color);
    box-shadow:0 0 1.5px 1.5px var(--button-color-content-bg-mix-light);
}

.cpe-button.cpe-is-secondary:active, .cpe-button.cpe-is-secondary.cpe-is-active {
    border-color:var(--content-border-dark-super);
    background-color:var(--button-color-content-bg-mix);
    color:var(--content-color); 
    box-shadow:0 0 1.5px 1.5px var(--button-color-content-bg-mix);
}

.cpe-button.cpe-is-secondary:focus:not(:active):not(.cpe-is-active) {
  color:var(--button-color);
  
}

/* Text */
.cpe-button.cpe-is-text {
  border-color:transparent;
  color:var(--button-color);
  background-color:transparent;
  box-shadow:0 0 1.5px 1.5px transparent;
}

.cpe-button.cpe-is-text:hover {
  border-color:transparent;
  color:var(--button-color-dark);
  background-color:transparent;
}

.cpe-button.cpe-is-text:active {
  border-color:transparent;
  color:var(--button-color-dark-super);
  background-color:transparent;
}

.cpe-button.cpe-is-text:focus:not(:active) {
  border-color:transparent;
}

/* Link Color */
.cpe-button.cpe-is-alternate {
  --button-color:rgb(var(--link-color));
  --button-color-dark:rgb(var(--link-color-dark));
  --button-color-dark-super:rgb(var(--link-color-dark-super));
  --button-color-text:var(--link-color-text);
  --button-color-content-bg-mix-light:var(--link-color-content-bg-mix-light);
  --button-color-content-bg-mix:var(--link-color-content-bg-mix);
}

/* Border Color */
.cpe-button.cpe-is-borderline {
  --button-color:var(--content-border);
  --button-color-dark:var(--content-border-dark);
  --button-color-dark-super:var(--content-border-dark-super);
  --button-color-text:var(--content-border-text);
  --button-color-content-bg-mix-light:var(--content-border-content-bg-mix-light);
  --button-color-content-bg-mix:var(--content-border-content-bg-mix);
}

/* Body Color */
.cpe-button.cpe-is-headline {
  --button-color:var(--background-color);
  --button-color-dark:var(--background-color-dark);
  --button-color-dark-super:var(--background-color-dark-super);
  --button-color-text:var(--background-color-text);
  --button-color-content-bg-mix-light:var(--background-color-content-bg-mix-light);
  --button-color-content-bg-mix:var(--background-color-content-bg-mix);
}



/* SVGs */
.cpe-button svg {
    align-self:center;
}

.cpe-button .cpe-icon:first-child:not(:only-child){
margin-right:6px;
}

.cpe-button .cpe-icon:not(:first-child):not(:last-child):not(:only-child) {
margin-right:6px;
margin-left:6px;
}

.cpe-button .cpe-icon:last-child:not(:only-child) {
margin-left:6px;
}


.cpe-button.cpe-is-square {
  min-width:18px;
  width:34px;
  height:34px;
  padding:0;
}

.cpe-button.cpe-is-full-width {
  display:flex;
}

.cpe-button.cpe-is-square.color-button {
	border-radius:50%;
	padding:3px;
	outline-width:0;
}


.cpe-button.ui-button {
	font-size:11px;
	padding:5px 8px;
}



/* Icons */
.cpe-icon {
  fill:currentColor;
  width:24px;
  height:24px;
}

.cpe-icon.cpe-icon-small {
  width:18px;
  height:18px;
}

.cpe-icon.cpe-icon-tiny {
  width:12px;
  height:12px;
}

/* Button Groups */
.cpe-button-group{
align-items:stretch;
display:inline-flex;
justify-content:flex-start;
vertical-align:middle;
margin-top:2.5px;
margin-bottom:2.5px;
}

.cpe-button-group .cpe-button{
height:auto;
margin-top:0;
margin-bottom:0;
/*white-space:nowrap;*/
}

.cpe-button-group>.cpe-button:not(:first-child):not(:last-child),.cpe-button-group>.cpe-dropdown:not(:first-child):not(:last-child) .cpe-button,.cpe-button-group>label:not(:first-child):not(:last-child) .cpe-button {
  border-radius:0;
}

.cpe-button-group >.cpe-button:not(:last-child),.cpe-button-group >.cpe-dropdown:not(:last-child) .cpe-button,.cpe-button-group>label:not(:last-child) .cpe-button {
border-bottom-right-radius:0;
border-top-right-radius:0;
}
.cpe-button-group > .cpe-button:not(:first-child),.cpe-button-group > .cpe-dropdown:not(:first-child) .cpe-button,.cpe-button-group>  label:not(:first-child) .cpe-button {
border-bottom-left-radius:0;
border-top-left-radius:0;
}

/* Multiple Groups */
.cpe-button-groups {
align-items:stretch;
display:inline-flex;
justify-content:flex-start;
vertical-align:top;
flex-direction:column;
}

.cpe-button-groups >.cpe-button-group{
width:auto;
}

.cpe-button-groups > .cpe-button-group .cpe-button {
flex:1 1 0;
}

.cpe-button-groups > .cpe-button-group:last-child:not(:first-child):not(:only-child) > .cpe-button,
.cpe-button-groups > .cpe-button-group:last-child:not(:first-child):not(:only-child) > .cpe-dropdown .cpe-button,
.cpe-button-groups > .cpe-button-group:last-child:not(:first-child):not(:only-child) > label .cpe-button {

	border-top-left-radius:0;
	border-top-right-radius:0;
}

.cpe-button-groups > .cpe-button-group:not(:last-child):first-child:not(:only-child) > .cpe-button,
.cpe-button-groups > .cpe-button-group:not(:last-child):first-child:not(:only-child) > .cpe-dropdown .cpe-button,
.cpe-button-groups > .cpe-button-group:not(:last-child):first-child:not(:only-child) > label .cpe-button {

	border-bottom-left-radius:0;
	border-bottom-right-radius:0;
}

.cpe-button-groups > .cpe-button-group:not(:last-child):not(:first-child):not(:only-child) > .cpe-button,
.cpe-button-groups > .cpe-button-group:not(:last-child):not(:first-child):not(:only-child) > .cpe-dropdown .cpe-button,
.cpe-button-groups > .cpe-button-group:not(:last-child):not(:first-child):not(:only-child) > label .cpe-button {
	border-radius:0;
}


/* CPE Font Weights (Compatibility) */
.cpe-font-size-xxs{font-size:10px}
.cpe-font-size-xs{font-size:12px}
.cpe-font-size-s{font-size:14px}
.cpe-font-size-base{font-size:16px}
.cpe-font-size-l{font-size:18px}
.cpe-font-size-xl{font-size:24px}
.cpe-font-size-xxl{font-size:28px}
.cpe-font-size-3xl{font-size:36px}
.cpe-font-size-4xl{font-size:52px}
.cpe-leading-none{line-height:1}
.cpe-leading-tight{line-height:1.25}
.cpe-leading-normal{line-height:1.5}
.cpe-leading-loose{line-height:1.75}
.cpe-font-weight-light{font-weight:300}
.cpe-font-weight-normal{font-weight:400}
.cpe-font-weight-medium{font-weight:500}
.cpe-font-weight-bold{font-weight:700}
.cpe-font-weight-black{font-weight:900}
.cpe-font-style-italic{font-style:italic}
.cpe-font-style-normal{font-style:normal}
.cpe-text-transform-capitalize{text-transform:capitalize}
.cpe-text-transform-uppercase{text-transform:uppercase}
.cpe-text-transform-lowercase{text-transform:lowercase}
.cpe-text-transform-none{text-transform:none}

/** Fandom Toggles (Compatibility) **/
.cpe-toggle__input{display:none!important;}.cpe-toggle__label{cursor:url("Windows/hand.cur"),pointer;font-size:16px;padding:7px 5px 7px 52px;position:relative}.cpe-toggle__label:empty{padding-left:45px}.cpe-toggle__label::after,.cpe-toggle__label::before{content:"";margin:0;outline:0;position:absolute;top:50%;transform:translateY(-50%);transition:transform,background-color;transition-duration:.3s;transition-timing-function:ease}.cpe-toggle__label::before{background-color:#999;border-radius:8px;height:14px;left:6px;width:34px}.cpe-toggle__label::after{height:20px;min-width:20px;width:20px;background-color:#f6f6f6;border-radius:50%;box-shadow:0 3px 1px -2px rgba(0,0,0,.14),0 2px 2px 0 rgba(0,0,0,.098),0 1px 5px 0 rgba(0,0,0,.084);left:5px}.cpe-toggle__input:checked+.cpe-toggle__label::before{background-color:#7fdbdc}.cpe-toggle__input:checked+.cpe-toggle__label::after{background-color:#00d6d6;transform:translate(80%,-50%)}

/* Removes background color when clickling on a cpe Toggle */
input[type="checkbox"] + .cpe-toggle__label:active {
	background-color:transparent;
}

/* Theming */
.cpe-toggle__label::before{
background-color:var(--content-border-dark);
}

.cpe-toggle__label::after{
background-color:var(--dropdown-bg);
box-shadow:0 3px 1px -2px rgba(0,0,0,.14),0 2px 2px 0 rgba(0,0,0,.098),0 1px 5px 0 rgba(0,0,0,.084), 0 3px 1px -2px rgba(255,255,255,.14),0 2px 2px 0 rgba(255,255,255,.098),0 1px 5px 0 rgba(255,255,255,.084);
}

.cpe-toggle__label::before{
background-color:var(--content-color);
}

.cpe-toggle__input:checked+.cpe-toggle__label::before{
background-color:var(--emphasis-bg);
}

.cpe-toggle__input:checked+.cpe-toggle__label::after{
background-color:rgb(var(--link-color));
}

/* Dropdowns */
.cpe-dropdown {
display:inline-flex;
position:relative;
vertical-align:middle;
}
.cpe-dropdown .cpe-dropdown__toggle{
cursor:url("Windows/hand.cur"), pointer;
position:relative
}

.cpe-dropdown__toggle-chevron:not(:only-child){
margin-left:6px;
}

.cpe-button .cpe-dropdown__toggle-chevron:not(:only-child){
margin-left:0;
}


/* Level A */
.cpe-dropdown__content{
background-color:transparent;
color:var(--content-color);
border:1px solid var(--content-border);
border-radius:3px;
display:inline-block;
left:50%;
min-width:70%;
padding:7px 0;
display:inline-block;
display:none;
transition:display 300ms;
position:absolute;
transform:translateX(-50%);
z-index:1;
box-shadow:0 2px 6px 0 rgba(0,0,0,.2), 0 2px 6px 0 rgba(255,255,255,0.2);
  scrollbar-width:thin;
  scrollbar-color:var(--content-border) transparent;
 /** Scrollbar Styling **/
	/* Width */
	--scrollbar-width:8.5px;
	/* Track */
	--scrollbar-track-color-1:transparent;
	--scrollbar-track-color-2:transparent;
	--scrollbar-track-color-3:transparent;
	--scrollbar-track-text:transparent;
	/* Thumb */
	--scrollbar-thumb-color-1:var(--content-border);
	--scrollbar-thumb-color-2:var(--content-border-dark);
	--scrollbar-thumb-color-3:var(--content-border-dark-super);
	--scrollbar-thumb-text:var(--content-color);
}

.cpe-dropdown.cpe-no-fadeout:not(.cpe-is-active) .cpe-dropdown__content {
	display:none;
}

.cpe-dropdown__content:after {
position:absolute;
top:0;
left:0;
z-index:-1;
background-color:var(--dropdown-bg);
width:100%;
height:100%;
opacity:0.7;
content:"";
border-radius:2px;
}


.cpe-dropdown__content.cpe-is-right-aligned{
left:auto;
right:0;
transform:none;
}
.cpe-dropdown__content.cpe-is-left-aligned{
left:0;
transform:none
}
.cpe-dropdown__content:not(.cpe-is-not-scrollable) .cpe-list{
max-height:300px;
overflow-y:auto;
position:relative;
z-index:1;
}

 .cpe-dropdown__content.cpe-is-not-scrollable .cpe-list{
   position:relative
}

 .cpe-dropdown__content .cpe-list{padding:0}.cpe-dropdown__content .cpe-list>li{
 margin:0 9px;
 padding-left:9px;
 padding-right:9px;
 white-space:nowrap
 }
 
 .cpe-dropdown__content .cpe-list.cpe-is-linked>li{
 padding:0;
 }

 .cpe-dropdown__content .cpe-list.cpe-is-linked>li>a:not(.cpe-button){
 color:inherit;
 padding-left:8px;
 padding-right:8px;
 text-decoration:none;
 transition-duration:200ms;
 transition-property: background-color,color
}

 .cpe-dropdown__content .cpe-list.cpe-is-linked>li.cpe-is-selected>a:not(.cpe-button), .cpe-dropdown__content .cpe-list.cpe-is-linked>li:hover>a:not(.cpe-button){
background-color:rgba(var(--link-color),0.2);
color:rgb(var(--link-color));
}


 .cpe-dropdown::after,.cpe-dropdown::before{bottom:-1px;content:'';display:none;height:0;left:50%;position:absolute;width:0;z-index:3}
 
 .cpe-dropdown::after{border:8px solid transparent;border-bottom-color:var(--content-border);margin-left:-8px;}

.cpe-dropdown::before{border:9px solid transparent;border-bottom-color:transparent;margin-left:-9px}

.cpe-dropdown.cpe-is-active::after,.cpe-dropdown.cpe-is-active::before {
  display:block;
  opacity:1;
}

.cpe-dropdown.cpe-no-chevron::before, .cpe-dropdown.cpe-no-chevron::after {
display:none!important;
}

.cpe-dropdown.cpe-is-active .cpe-dropdown__content {
  display:inline-block; 
  opacity:1; 
  pointer-events:all;
  backdrop-filter:blur(8px) sepia(12%) contrast(112%) invert(12%) grayscale(12%) saturate(112%) hue-rotate(12deg) brightness(112%);
}

.cpe-dropdown.cpe-is-active .cpe-dropdown__toggle-chevron {transform:rotate(180deg)}

.cpe-dropdown.cpe-is-active.cpe-has-dark-shadow::before,.cpe-dropdown.cpe-is-active.cpe-has-shadow::before {display:none}

.cpe-dropdown.cpe-has-shadow .cpe-dropdown__content{
	box-shadow:0 3px 7px 0 rgba(0,0,0,.3), 0 3px 7px 0 rgba(255,255,255,0.3);
}

.cpe-dropdown.cpe-has-dark-shadow .cpe-dropdown__content{
	box-shadow:0 4px 8px 0 rgba(0,0,0,.4), 0 4px 8px 0 rgba(255,255,255,0.4);
}


/* Level B */

.cpe-dropdown__content .cpe-list.cpe-is-linked .cpe-dropdown-level-2{
margin-right:0
}

.cpe-dropdown__content .cpe-list.cpe-is-linked .cpe-dropdown-level-2>a:not(.cpe-button) {
	padding-right:16px;
	display:flex;
	justify-content:space-between
}

.cpe-dropdown__content .cpe-list.cpe-is-linked .cpe-dropdown-level-2 .cpe-dropdown-chevron{
transform:rotate(-90deg);
margin-left:16px
}
.cpe-dropdown__content .cpe-list.cpe-is-linked .cpe-dropdown-level-2.cpe-is-sticked-to-parent{
position:relative
}
.cpe-dropdown__content .cpe-list.cpe-is-linked .cpe-dropdown-level-2.cpe-is-sticked-to-parent .cpe-dropdown-level-2__content{
top:auto;bottom:-8px
}

.cpe-dropdown__content .cpe-list.cpe-is-linked .cpe-dropdown-level-2 .cpe-dropdown-level-2__content{
border:1px solid var(--content-border);
border-radius:3px;
display:none;
left:100%;
padding:8px 0;
position:absolute;
top:-8px
}

.cpe-dropdown__content .cpe-list.cpe-is-linked .cpe-dropdown-level-2 .cpe-dropdown-level-2__content:after {
position:absolute;
top:0;
left:0;
z-index:-1;
background-color:var(--dropdown-bg);
width:100%;
height:100%;
opacity:0.85;
content:"";
border-radius:2px;
}

.cpe-dropdown__content .cpe-list.cpe-is-linked .cpe-dropdown-level-2 .cpe-dropdown-level-2__content .cpe-list.cpe-is-linked>li>a:not(.cpe-button){
font-size:12px
}

.cpe-dropdown__content .cpe-list.cpe-is-linked .cpe-dropdown-level-2.cpe-is-active .cpe-dropdown-level-2__content,.cpe-dropdown__content .cpe-list.cpe-is-linked .cpe-dropdown-level-2:hover .cpe-dropdown-level-2__content{
display:block; 
opacity:1;
 pointer-events:all;
 backdrop-filter:blur(8px) sepia(12%) contrast(112%) invert(12%) grayscale(12%) saturate(112%) hue-rotate(12deg) brightness(112%);
}


.cpe-is-disabled{cursor:url("Windows/default.cur"), default;filter:grayscale(100%);pointer-events:none}

.cpe-is-hidden{display:none!important}



/* Gliding Menu */

.cpe-dropdown.cpe-is-active .cpe-dropdown__content{
 animation: contribution-dropdown 0.3s;
 pointer-events:all;
 top:100%;
}

.cpe-dropdown .cpe-dropdown__content .cpe-dropdown-level-2:hover .cpe-dropdown-level-2__content,
.cpe-dropdown .cpe-dropdown__content .cpe-dropdown-level-2.cpe-is-active .cpe-dropdown-level-2__content {
 animation: dropdown-2 0.3s;
 pointer-events:all;
 opacity:1;
}

.cpe-dropdown.cpe-is-active::before, .cpe-dropdown.cpe-is-active::after {
 animation: contribution-dropdown-b 0.3s;
 opacity:1;
}


.cpe-dropdown .cpe-dropdown__content{
 top:calc(100% - 10px);
/* display:inline-block; */
 pointer-events:none;
 opacity:0;
 animation: contribution-dropdown-r 0.3s;
}

.cpe-dropdown .cpe-dropdown__content .cpe-dropdown-level-2 .cpe-dropdown-level-2__content {
 opacity:0;
 pointer-events:none;
/* display:block; */
 animation: dropdown-2-r 0.3s;
}

.cpe-dropdown::before, .cpe-dropdown::after {
 opacity:0;
 animation: contribution-dropdown-b-r 0.3s;
 pointer-events:none;
}



@keyframes contribution-dropdown {
 from {opacity: 0; top: calc(100% - 10px);}
 to {opacity: 1; top: 100%;}
}

@keyframes contribution-dropdown-r {
 from {opacity: 1; top: 100%;}
 to {opacity: 0; top: calc(100% - 10px);}
}

@keyframes contribution-dropdown-b {
 from {opacity: 0; bottom: 9px;}
 to {opacity: 1; bottom: -1px;}
}

@keyframes contribution-dropdown-b-r {
 from {opacity: 1; bottom: -1px;}
 to {opacity: 0; bottom: 9px;}
}

@keyframes dropdown-2 {
 from {opacity: 0; transform: translateX(-10px);}
 to {opacity: 1; transform: translateX(0);}
}

@keyframes dropdown-2-r {
 from {opacity: 1; transform: translateX(0);}
 to {opacity: 0; transform: translateX(-10px);}
}


/* Lists */

.cpe-list{list-style-type:none;margin:0;padding:8px 18px}

.cpe-list>li{font-size:14px;font-weight:400;line-height:1em;padding:11px 0} /* Was 12px 0 */

.cpe-list.cpe-has-big-items{padding-bottom:2px;padding-top:2px}

.cpe-list.cpe-has-big-items>li{font-size:16px;padding-bottom:16px;padding-top:16px}

.cpe-list.cpe-has-bolded-items>li{font-weight:700}

.cpe-list.cpe-has-lines-between>li{border-bottom:solid 1px #e6e6e6}

.cpe-list.cpe-has-lines-between>li:last-child{border:0}

.cpe-list.cpe-has-ellipsis.cpe-is-linked>li>a:not(.cpe-button),

.cpe-list.cpe-has-ellipsis>li{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}

.cpe-list.cpe-is-linked>li{padding:0}.cpe-list.cpe-is-linked>li>a:not(.cpe-button){display:block;padding:11px 0} /* Was 12px 0 */

.cpe-menu-chevron{float:right;margin-top:5px;transform:rotate(-90deg);fill:#c5ced9}


.cpe-list.cpe-is-linked > li > a.cpe-button{
  display:flex;
  margin:8px;
}

/* Floating Buttons */
.cpe-floating-button {
  align-items: center;
  background-image:none;
  background-color:var(--dropdown-bg);
  color:var(--content-color);
  box-shadow: 0 0 10px 0 rgba(26, 26, 26, 0.25), 0 0 10px rgba(240, 240, 240, 0.25);
  border-radius: 50%;
  border: 0;
  display: flex;
  height: 38px;
  justify-content: center;
  margin: 0;
  outline: none;
  padding: 0;
  transition-duration: 200ms;
  transition-property: box-shadow, background-color, color;
  width: 38px;
}
.cpe-floating-button:not([disabled]),
.cpe-floating-button:not(.cpe-is-disabled) {
  cursor:url("Windows/hand.cur"), pointer;
}
.cpe-floating-button:not([disabled]):hover,
.cpe-floating-button:not(.cpe-is-disabled):hover {
  box-shadow: 0 0 10px 0 rgba(26, 26, 26, 0.5), 0 0 10px rgba(240, 240, 240, 0.5);
  background-image:none;
  background-color:var(--link-color-content-bg-mix-light);
  border:0;
  color:var(--content-color);
}
.cpe-floating-button-group {
  display: inline-flex;
}
.cpe-floating-button-group.cpe-is-vertical {
  flex-flow: column;
}
.cpe-floating-button-group:not(.cpe-is-vertical) > .cpe-floating-button:not(:first-child), .cpe-floating-button-group:not(.cpe-is-vertical) > *:not(:first-child) .cpe-floating-button {
  margin-left: 8px;
}
.cpe-floating-button-group.cpe-is-vertical > .cpe-floating-button:not(:first-child), .cpe-floating-button-group.cpe-is-vertical > *:not(:first-child) .cpe-floating-button {
  margin-top: 8px;
}

.cpe-floating-button .cpe-icon {
	pointer-events:none;
}


.cpe-floating-button.critical {
	color:red;
}

.cpe-floating-button.accent {
	color:var(--content-border);
}

.cpe-floating-button.accent:hover {
	background-color:var(--content-border-content-bg-mix-light);
}

.cpe-floating-button.no-flex {
	display:inline-flex;
	vertical-align:middle;
}

/* Tabs */
.cpe-tabs{
	align-items:flex-end;
	display:flex;
	list-style:none;
	margin:0;
	padding:0
}

.cpe-tabs__tab{
	--tabs-color:var(--button-color);
	--tabs-color-dark:var(--button-color-dark);
	--tabs-color-dark-super:var(--button-color-dark-super);
	cursor:url("Windows/default.cur"), default;
	flex-shrink:0;
	line-height:14px;
	position:relative;
	color:var(--tabs-color);
}

.cpe-tabs__tab-label{
	align-items:center;
	color:inherit;
	display:inline-flex;
	font-size:13px;
	font-weight:700;
	height:40px;
	margin:0 11px;
	text-align:center;
	text-decoration:none;
	transition:box-shadow 200ms, color 200ms;
	white-space:nowrap
}

.cpe-tabs__tab-label :not(:first-child):not(:only-child){
	margin-left:4px
}

.cpe-tabs__tab-label>a{
	align-items:center;
	display:inline-flex;
	height:100%;
	text-decoration:none
	color:inherit;
}

.cpe-tabs__tab.cpe-is-current{
	box-shadow:inset 0 -2px 0 0 currentColor;
}

.cpe-tabs__tab .cpe-dropdown__content{
	left:-7px;
	transform:none
}

.cpe-tabs__tab:hover {
	color:var(--tabs-color-dark)
}


.cpe-tabs__tab.cpe-is-active ,
.cpe-tabs__tab:active {
	color:var(--tabs-color-dark-super);
}

.cpe-tabs__tab.cpe-is-alternate {
	--tabs-color:rgb(var(--link-color));
	--tabs-color-dark:rgb(var(--link-color-dark));
	--tabs-color-dark-super:rgb(var(--link-color-dark-super));
}

.cpe-tabs__tab.cpe-is-borderline {
	--tabs-color:var(--content-border);
	--tabs-color-dark:var(--content-border-dark);
	--tabs-color-dark-super:var(--content-border-dark-super);
}

/* Banners */
.cpe-banner-notification{
	color:var(--content-color);
	display:flex;
	transition:opacity .4s, transform .4s; 
	overflow:hidden; 
	transform-origin:top center;
	position:relative;
	min-height:40px;
    backdrop-filter:blur(8px) sepia(12%) contrast(112%) invert(12%) grayscale(12%) saturate(112%) hue-rotate(12deg) brightness(112%);
}


.cpe-banner-notification:after {
position:absolute;
top:0;
left:0;
z-index:-1;
background-color:var(--dropdown-bg);
width:100%;
height:100%;
opacity:0.7;
content:"";
}

.cpe-banner-notification.cpe-is-transparent{
	opacity:0; transform:scaleY(0);
}
.cpe-banner-notification__container{
	box-shadow:0 2px 6px 0 rgba(0,0,0,.2), 0 2px 6px 0 rgba(255,255,255,0.2);
	z-index:19;
	position:relative;
}
.cpe-banner-notification__icon{
	align-items:center;
	color:#fff;
	display:flex;
	justify-content:center;
	width:40px;
	border-radius:0 4px 4px 0;
}
.cpe-alert .cpe-banner-notification__icon{
	background-color:#dd3333;
  color:#fee7e6;
} /* Was #d71035 and #e81a3f */
.cpe-warning .cpe-banner-notification__icon{
	background-color:#ffcc33;
  color:#fef6e7;
} /* Was #dfec24 and #de5e33 */
.cpe-success .cpe-banner-notification__icon{
	background-color:#14866d;
  color:#d5fdf4;
} /* Was #4cda9a and #018c30 */
.cpe-message .cpe-banner-notification__icon{
	background-color:#575859;
  color:#eaecf0;
} /* Was #460084 and #008c8f */

.cpe-banner-notification__text{
	color:inherit;
	flex:1;
	font-size:14px;
	line-height:1.29;
	padding:13px 12px;
}
.cpe-banner-notification__close{
	cursor:url("Windows/hand.cur"),pointer;
	 padding:18px; 
	 box-sizing:content-box;
 }
.cpe-banner-notification+.cpe-banner-notification .cpe-banner-notification__close,.cpe-banner-notification+.cpe-banner-notification .cpe-banner-notification__text{
border-top:1px solid var(--content-border);}


.headroom.headroom--not-top .top-gap .cpe-banner-notification__container#floatingbanner {
  position:fixed;
  top:49px;
  z-index:19; /* Needed lower value to allow header dropdowns not to overlap */
}




/* Labels, Links, Markers and Textareas */
a {
transition:color 200ms;
text-decoration:none;
color:rgb(var(--link-color));
cursor:url("Windows/hand.cur"), pointer;
background-color:transparent;
}

a:hover {
color:rgb(var(--link-color-dark));
cursor:url("Windows/hand.cur"), pointer;
}


.cpe-dropdown__content .cpe-list label {
	font-size:inherit;
}

a label, a input[type="checkbox"], a input[type="radio"] {
cursor:url("Windows/hand.cur"), pointer;
}




label, input[type="checkbox"], input[type="radio"] {
cursor:inherit;
vertical-align:middle;
}

label {
	display:inline;
	font-size:20px;
	background:transparent;
	transition:background-color 200ms;
}

mark {
color:var(--content-color);
background-color:rgba(var(--link-color-dark), 0.5);
}

mark * {
color:inherit;
}

input[type="checkbox"] + label:active, input[type="radio"] + label:active,
input[type="checkbox"]:active + label, input[type="radio"]:active + label {
background-color:rgba(var(--link-color), 0.5);
}


:not(.unset)[disabled], :not(.unset):disabled {
-webkit-filter:grayscale(100%)!important;
filter:grayscale(100%)!important;
opacity:1!important;
pointer-events:none!important;
-webkit-user-select:none!important;
-moz-user-select:none!important;
user-select:none!important;
cursor:url("Windows/banned.cur"),not-allowed!important;
}

textarea, [contenteditable] {
  cursor:url("Windows/text.cur"), text;
  scrollbar-width:thin;
  scrollbar-color:var(--content-color) transparent;
/** Scrollbar Styling **/
	/* Width */
	--scrollbar-width:8.5px;
	/* Track */
	--scrollbar-track-color-1:transparent;
	--scrollbar-track-color-2:transparent;
	--scrollbar-track-color-3:transparent;
	--scrollbar-track-text:transparent;
	/* Thumb */
	--scrollbar-thumb-color-1:var(--content-color);
	--scrollbar-thumb-color-2:var(--content-color-dark);
	--scrollbar-thumb-color-3:var(--content-color-dark-super);
	--scrollbar-thumb-text:var(--content-bg);

}

input[type="datetime-local"], input[type="date"], input[type="time"], input[type="week"], input[type="month"], input[type="year"] { /* Year is non-standard Qorta/mInerva input type */
font-family:"LCD", monospace;
}

textarea {
	border-color: #27a0da;
	background-image:none;
-webkit-appearance:none;
appearance:none;
font-family:monospace;
}


/* Checkboxes */
/* Commented Styles = Old Design */
input[type="checkbox"], input[type="radio"] {
--checkbox-unchecked-bg:var(--content-bg);
--checkbox-unchecked-shadow:var(--content-border);
--checkbox-active-bg:rgb(var(--link-color));
--checkbox-checked-bg:var(--link-color-content-bg-mix-light);
--checkbox-checked-bg-hover:var(--link-color-content-bg-mix);
--checkbox-checked-shadow:var(--checkbox-active-bg);
--checkbox-checked-shadow-hover:var(--checkbox-active-bg);
--checkbox-checked-text:var(--checkbox-active-bg);
  box-shadow:0 0 2px 1px var(--checkbox-unchecked-shadow);
  padding:1,5px;
  background-color:var(--checkbox-unchecked-bg);
  color:var(--checkbox-active-bg);
  border-radius:26%;
  position:relative;
  transition:background-color 200ms, box-shadow 200ms, color 200ms, opacity 200ms;
  height:22px;
  width:22px;
  display:inline-block;
  vertical-align:middle;
  -moz-appearance:none;
  -webkit-appearance:none;
  appearance:none;
  border:0;
}

.cpe-dropdown__content .cpe-list input[type="checkbox"], .cpe-dropdown__content .cpe-list input[type="radio"] {
	width:15px;
	height:15px;
}


@supports (-webkit-box-shadow:0 0 10px) and (not (-moz-appearance:none)) {
input[type="checkbox"], input[type="radio"] {
  margin:4px;
}
}

input[type="checkbox"]::after, input[type="radio"]::after {
display:block!important;
content:"";
position:absolute;
opacity:0;
top:0;
left:0;
width:100%;
height:100%;
box-sizing:content-box;
}

input[type="checkbox"]::after {
    border:2.15px solid currentcolor;
    border-style:hidden solid solid hidden;
    transform:rotate(45deg);
    width:30%;
    height:62%;
    top:5%;
    left:30%;
}

input[type="checkbox"]:hover::after, input[type="radio"]:hover::after {
  opacity:0;
}

input[type="checkbox"]:active::after, input[type="radio"]:active::after {
  opacity:0;
}


/* These styles are not used in IE and Edge since we use the ms-check to display the square. This applies to other engines only to show a minus sign */
input[type="checkbox"]:indeterminate::after {
    opacity:1;
}

input[type="checkbox"]:indeterminate::after, input[type="checkbox"][indeterminate]:not(:checked)::after {
    border-style:hidden solid hidden hidden;
    transform:rotate(90deg);
    left:35%;
}



input[type="radio"]::after {
  background-color:currentcolor;
  border-radius:50%;
  width:55%;
  height:55%;
  top:22.5%;
  left:22.5%;
}



input[type="checkbox"]:checked::after, input[type="radio"]:checked::after {
  opacity:1;
}


input[type="radio"] {
  border-radius:50%;
}

input[type="checkbox"]:hover, input[type="radio"]:hover {
	box-shadow:0 0 1px 1px var(--checkbox-active-bg);
}


input[type="checkbox"]:active, input[type="radio"]:active {
  box-shadow:0 0 1px 1px var(--checkbox-active-bg);
  background-color:var(--checkbox-active-bg);
  color:var(--checkbox-active-bg);
}

input[type="checkbox"]:checked, input[type="radio"]:checked,
input[type="checkbox"]:indeterminate, input[type="radio"]:indeterminate  {
  box-shadow:0 0 1px 1px var(--checkbox-checked-shadow);
  background-color:var(--checkbox-checked-bg);
  color:var(--checkbox-checked-text);
}



input[type="checkbox"]:checked:hover, input[type="radio"]:checked:hover,
input[type="checkbox"]:indeterminate:hover, input[type="radio"]:indeterminate:hover {
  box-shadow:0 0 1px 1px var(--checkbox-checked-shadow-hover);
  background-color:var(--checkbox-checked-bg-hover);
  color:var(--checkbox-checked-text);

}


input[type="checkbox"]:checked:active, input[type="radio"]:checked:active,
input[type="checkbox"]:indeterminate:active, input[type="radio"]:indeterminate:active  {
  box-shadow:0 0 1px 1px var(--checkbox-active-bg);
  background-color:var(--checkbox-active-bg);
  color:var(--checkbox-active-bg);
}
