/* Inter UI font family */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,400,500,700,900|Noto+Sans+KR:100,300,400,500,700,900|Noto+Sans:400,700&subset=cyrillic,cyrillic-ext,devanagari,greek,greek-ext,japanese,korean,latin-ext,vietnamese');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+SC:100,300,400,500,700,900|Noto+Sans+TC:100,300,400,500,700,900&subset=chinese-simplified,chinese-traditional,cyrillic,japanese,vietnamese');
@import url('https://rsms.me/inter/inter.css');

/* Discussions CSS */
.mpisto-discuss-2018 {
	font-weight:400;
}

/* Fix for Global Nav and footer */
.mpisto-gnav {
	font-weight:500;
}

.mpisto-content {
	box-shadow:none;
	-webkit-backdrop-filter:none;
	backdrop-filter:none;
}

.mpisto-content {
	background-color:transparent;
}






.mpisto-discussions-wrapper {
	display:flex;
	justify-content:space-between;
	margin:10px 0 0;
	}

.mpisto-discussions-wrapper .card {
	display:flex;
	background-color:var(--content-bg);
	border-radius:10px;
	padding:10px;
	width:200px;
	font-size:14px;
	text-shadow:none;
	align-items:center;
	flex-direction:column;
	border:2px solid var(--accent-bg);	
}

.mpisto-discussions-wrapper .card.first, .mpisto-discussions-wrapper .card.last {
	max-height:calc(100vh - 69px); /*179*/
	top:calc(10px + var(--sticky-nav-size));
	position:-webkit-sticky;
	position:sticky;
	overflow-y:auto;
	scrollbar-width:thin;
	scrollbar-color:var(--content-border) transparent;
	overscroll-behavior:contain;
	align-self:flex-start
}


.mpisto-discussions-wrapper .card.first {
	word-wrap:break-word;
	overflow-wrap:break-word;
}

.mpisto-discussions-wrapper .card.last ol li span {
	word-wrap:break-word;
	overflow-wrap:break-word;
	overflow-wrap:anywhere;
}

.mpisto-discussions-wrapper .card.last ol a.delete {
	float:right;
}

.mpisto-discussions-wrapper .card.first .description {
	text-align:left;
	display:block;
	width:100%;
	word-wrap:break-word;
	overflow-wrap:break-word;
}

.mpisto-discussions-wrapper .card.main {
	flex:1 1 auto;
	margin:0 10px;
	padding-top:0;
}


.mpisto-discussions-wrapper .card h2 {
	font-weight:600;
	font-size:24px;
	margin:0;
	text-align:center;
	display:inline;
}

.mpisto-discussions-wrapper .card h3 {
	font-weight:700;
	font-size:16px;
	margin:0;
	text-align:center;
}


.mpisto-discussions-wrapper .card.main .post-send {
	min-height:10px;
	position:static;
	position:-webkit-sticky;
	position:sticky;
	top:var(--sticky-nav-size);
	border-color:var(--accent-bg);	
	border-top:0;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	z-index:9;
	background-color:var(--dropdown-bg);
	padding:10px;
	width:100%;
	box-shadow:0 2px 6px 0 rgba(0,0,0,.2), 0 2px 6px 0 rgba(255,255,255,0.2);
}

.mpisto-discussions-wrapper .card.main .post-send .post-area {
	border-radius:10px;
	box-shadow:0 0 10px 0.25px rgba(var(--link-color-rgb),0.6), 0 0 6px 0 rgba(0,0,0,.2), 0 0 6px 0 rgba(255,255,255,0.2);
	border:0;
	width:100%;
	padding:10px;
	height:80px;
	font-size:14px;
	background-color:var(--emphasis-bg);
	color:inherit;
	font-family:inherit;
}

.mpisto-discussions-wrapper .card.main .post-send h1 {
	font-weight:300;
	font-size:24px;
	margin:0;
}

.mpisto-discussions-wrapper .card.main .post {
	margin:10px 0;
	width:100%;
	min-height:10px;
	font-size:14px;
}

.mpisto-discussions-wrapper .card.main .post .post-container {
	font-size:16px;
	display:flex;
	align-items:center;
}

.mpisto-discussions-wrapper .card.main .post .post-container .mpisto-avatar {
		width:26px;
		height:26px;
		min-width:26px;
		min-height:26px;
		border-width:1.5px;
		opacity:1;
		display:inline;
}

.mpisto-discussions-wrapper .card.main .post .post-container .cpe-button.cpe-is-square {
	width:26px;
	height:26px;
	min-width:26px;
	min-height:26px;
}

.mpisto-discussions-wrapper .card.main .post .post-container .name {
		font-size:80%;
		font-weight:bolder;
		text-overflow:ellipsis;
		overflow:hidden;
		display:inline-block;
		margin-left:2px;
		flex:1;
	}

.mpisto-discussions-wrapper .card.main .post h1 {
	font-size:24px;
	font-weight:700;
	margin:0;
}

.mpisto-discussions-wrapper .card.main .post h1 a {
	color:inherit;
	text-decoration:none;
}

.mpisto-discussions-wrapper .card.main .post .message {
	line-height:1.3;
	font-weight:300;
	border-bottom:1px solid var(--content-border);
}


.mpisto-discussions-wrapper .card.main .post .post {
	padding-left:50px;
	border-bottom:1px solid var(--content-border);
}


.mpisto-discussions-wrapper .card.main .post .post .message {
	border-bottom:0;
}


footer.mpisto-footer {
	z-index:1;
	padding-bottom:0.1px;
}


/* Mobile Footer */
footer.footer {
z-index:1;
}


body.editor1 .editor1off, body.editor2 .editor2off, body:not(.editor1) .editor1on, body:not(.editor2) .editor2on {
	display:none!important;
}

/* Community Header */
.mpisto-header-container {
	--community-header-bg:var(--background-color);
	--community-header-dark:var(--background-color-dark);
	--community-header-dark-super:var(--background-color-dark-super);
	--community-header-text:var(--background-color-text);
	--community-header-text-dark:var(--background-color-text-dark);
	--community-header-bg-rgb:var(--background-color-rgb);
	--community-header-dark-rgb:var(--background-color-dark-rgb);
	--community-header-dark-super-rgb:var(--background-color-dark-super-rgb);
	--community-header-text-rgb:var(--background-color-text-rgb);
	--community-header-text-dark-rgb:var(--background-color-text-dark-rgb);
	background:transparent!important;

}

.mpisto-header-container::before,
.mpisto-header-container::after {
	display:none!important;
}

/* Responsive Design */

@media only screen and (max-width:1019px) {
:root {
	scrollbar-width:thin;
	scrollbar-color:var(--community-header-bg) transparent;
	min-width:360px;
}

.mpisto-personal-links .link.toggle-size {
	display:none!important;
}

.mpisto-content {
	width:100%!important;
}

footer.mpisto-footer .mpisto-wrapper {
	width:calc(100% - 36px)!important;
}

.mpisto-header-container {
	margin:0;
}


.mpisto-discussions-wrapper .card.main {
	order:0;
	margin:0;
}

.mpisto-discussions-wrapper .card.first {
	order:1;
	position:static!important;
	max-height:auto!important;
	overscroll-behavior:auto!important;
}

.mpisto-discussions-wrapper .card.last {
	order:2;
	position:static!important;
	max-height:auto!important;
	overscroll-behavior:auto!important;
}



.mpisto-discussions-wrapper .card {
	margin:0;
	width:100%;
	border:0;
	border-radius:0;
}

.mpisto-discussions-wrapper {
	justify-content:center;
	flex-direction:column;
	margin:0;
}

.mpisto-header-container .wordmark, .top-gap {
	display:none;
}

footer.mpisto-footer {
	margin:0;
}

}

@media only screen and (min-width:1500px) {
.mpisto-discussions-wrapper .card.main .post-send .post-area {
	font-size:16px;
}

.mpisto-discussions-wrapper .card.main .post {
	font-size:16px;
}

.mpisto-discussions-wrapper .card.main .post h1 {
	font-size:26px;
}

}
