/* Headroom */
.mpisto-gnav.headroom:after {
	transition:opacity 400ms ease, -webkit-backdrop-filter 400ms ease, backdrop-filter 400ms ease, -webkit-backdrop-filter 400ms ease, background-color 400ms ease;
	will-change:opacity;
}


.mpisto-gnav.headroom {
	transition:transform 400ms ease;
	will-change: color, background-color;
}

.mpisto-gnav.headroom--bottom {
	transform:translateY(-100%);
}

html:not(.contrast):not(.basic) .mpisto-gnav.headroom.headroom--not-top::after {
	opacity:0.8;
	-webkit-backdrop-filter:blur(10px) sepia(10%) contrast(110%) invert(10%) grayscale(10%) saturate(110%) hue-rotate(10deg) brightness(110%);
	backdrop-filter:blur(10px) sepia(10%) contrast(110%) invert(10%) grayscale(10%) saturate(110%) hue-rotate(10deg) brightness(110%);
}


.mpisto-gnav.headroom.headroom--not-top::after {
	background-color:var(--accent-bg);
}


html:not(.contrast) .mpisto-gnav.headroom.headroom--not-top {
	color:var(--button-color-text);
	box-shadow: 0 0 3px var(--content-color), 0 0 3px var(--dropdown-bg);
}

.mpisto-gnav.headroom.headroom--not-top .wds-list {
	color:var(--content-color);
}
