/* Buttons */

.mpisto-options-content .filtermodes {
  display:none;
}

.mpisto-options-content .reduced-motion {
	display:none;
}

@media (prefers-reduced-motion: reduce) {
.mpisto-options-content .reduced-motion {
	display:block;
}

.mpisto-options-content .prm-option {
	display:none!important;
}


.mpisto-options-content .filtermodes {
  display:none!important;
}

*,:before,:after {
	transition-property:color,background-color,border-color,column-rule-color,outline-color,fill,text-shadow,box-shadow,visibility,display, opacity!important;
	transition-duration:0ms!important;
	animation:none!important;
}


.mpisto-option-pane {
top:0!important;
filter:none!important;
}
}


@media (prefers-reduced-transparency: reduce) {
.mpisto-global-sidebar {
	--global-nav-opacity:1!important;
}

.lightbox-container:target {
	--lightbox-opacity:1!important;
}

.mpisto-content .mpisto-wrapper {
	--content-space-opacity:1!important;
}

.cpe-dropdown__content,
.cpe-dropdown__content .cpe-list.cpe-is-linked .cpe-dropdown-level-2 .cpe-dropdown-level-2__content {
	--dropdown-opacity:1!important;
}



.mpisto-options-content .prt-option {
	display:none!important;
}




body *,body :before,body :after {
	-webkit-backdrop-filter:none!important;
	backdrop-filter:none!important;
	background-blend-mode:normal!important;
	mix-blend-mode:normal!important;
}


.mpisto-option-pane {
filter:none!important;
}

@media only screen and (max-width:1019px) {
html:not([visualtheme="contrast"]) .pane-on .mpisto-article-wrapper:after {
	opacity:1;
}
}

}


.prt .mpisto-global-sidabar, [visualtheme="basic"] .mpisto-global-sidabar, [visualtheme="contrast"] .mpisto-global-sidabar {
	--global-nav-opacity:1!important;
}

/* Reduced Animations */

.prm .mpisto-options-content .reduced-motion {
	display:block;
}

.prm .mpisto-options-content .filtermodes {
  display:none!important;
}

.prm *,.prm :before,.prm :after, .prm {
	transition-property:color,background-color,border-color,column-rule-color,outline-color,fill,text-shadow,box-shadow,visibility,display, opacity!important;
	transition-duration:0ms!important;
	animation:none!important;
}

.prm .mpisto-option-pane {
top:0!important;
filter:none!important;
}


/* Reduced Transparency */
.prt .lightbox {
	background-color:rgba(var(--community-header-bg), 0.98);
}

.prt .lightbox-container:target {
	--lightbox-opacity:1!important;
}

.prt .mpisto-content .mpisto-wrapper {
	--content-space-opacity:1!important;
}

.prt .cpe-dropdown__content,
.prt .cpe-dropdown__content .cpe-list.cpe-is-linked .cpe-dropdown-level-2 .cpe-dropdown-level-2__content {
	--dropdown-opacity:1!important;
}


.prt.constructor .mpisto-content .mpisto-wrapper::before {
	opacity:1;
}




.prt *,.prt :before,.prt :after {
	-webkit-backdrop-filter:none!important;
	backdrop-filter:none!important;
	background-blend-mode:normal!important;
	mix-blend-mode:normal!important;
}

.prt .mpisto-option-pane {
filter:none!important;
}

@media only screen and (max-width:1019px) {
html:not([visualtheme="contrast"]) .prt .pane-on .mpisto-article-wrapper:after {
	opacity:1;
}
}



.mpisto-options-content .filtermodes {
  display:block;
}

.mpisto-options-content .filternotice {
  display:none;
}


.mpisto-options-content .contrastnotice {
  display:none;
}

/* Basic Theme */
[visualtheme="basic"] *:not(body),[visualtheme="basic"] :before,[visualtheme="basic"] :after {
  -webkit-filter:none!important;
  filter:none!important;
  backdrop-filter:none!important;
  -webkit-backdrop-filter:none!important;
}

[visualtheme="basic"] .mpisto-global-sidebar {
	--global-nav-color:var(--community-header-bg-rgb);
	--global-nav-text-color:var(--community-header-text);
	--global-nav-link-color-active:var(--community-header-text-dark);
	--global-nav-link-background-active:var(--community-header-text-rgb);
}


[visualtheme="contrast"] .mpisto-global-sidebar {
	--global-nav-color:var(--dropdown-bg-rgb);
	--global-nav-text-color:var(--content-color);
	--global-nav-link-color-active:var(--button-color-text);
	--global-nav-link-background-active:var(--button-color-rgb);

}


.main[visualtheme="basic"] .cpe-dropdown__content .cpe-list.cpe-is-linked>li.cpe-is-selected>a:not(.cpe-button),
.main[visualtheme="basic"] .cpe-dropdown__content .cpe-list.cpe-is-linked>li:hover>a:not(.cpe-button){
  border-color:var(--link-color);
}


.main[visualtheme="basic"] .cpe-community-header::before {
background-image:linear-gradient(to left,rgba(255,255,255, 0) 200px,var(--community-header-bg) 430px);
}

[visualtheme="basic"] .mpisto-header-container::before {
	display:none;
}


[visualtheme="basic"] .mpisto-header-container .link,
[visualtheme="basic"] .mpisto-sticky-header-container .link {
	transition:background-color 400ms ease 0ms, color 10ms ease 10ms, border-color 10ms ease 10ms, transform 200ms ease 0ms;
}

[visualtheme="basic"] .color-header .link,
[visualtheme="basic"] .mpisto-sticky-header-container .link {
    border:1px solid var(--community-header-text);
}

[visualtheme="basic"] .mpisto-header-container .link:hover,
[visualtheme="basic"] .mpisto-sticky-header-container .link:hover  {
		background-color:rgba(var(--link-color-rgb),0.2);
		color:inherit;
		box-shadow:none;
		border:1px solid var(--community-header-text);
}

[visualtheme="basic"] .mpisto-header-container .link.active, 
[visualtheme="basic"] .mpisto-header-container .link:active, 
[visualtheme="basic"] .mpisto-header-container .link:focus, 
[visualtheme="basic"] .mpisto-header-container .cpe-dropdown.cpe-is-active .link,
[visualtheme="basic"] .mpisto-sticky-header-container .link.active, 
[visualtheme="basic"] .mpisto-sticky-header-container .link:active, 
[visualtheme="basic"] .mpisto-sticky-header-container .link:focus, 
[visualtheme="basic"] .mpisto-sticky-header-container .cpe-dropdown.cpe-is-active .link {
		border:1px solid var(--community-header-text);
		background-color:rgba(var(--link-color-dark-rgb),0.4);
		color:inherit;
		box-shadow:none;
}

[visualtheme="basic"] ::-webkit-scrollbar-thumb {
	border-color:var(--scrollbar-track-text);
	border-width:1px;
}


[visualtheme="basic"] .page-1 .option-link.p1, [visualtheme="basic"] .page-2 .option-link.p2, [visualtheme="basic"] .page-3 .option-link.p3, [visualtheme="basic"] .page-4 .option-link.p4, [visualtheme="basic"] .page-5 .option-link.p5, [visualtheme="basic"] .page-6 .option-link.p6  {
  border-color:var(--link-color);
}


[visualtheme="basic"] .preview-window-window h2 button {
	--button-background-hover:rgba(var(--link-color-rgb),0.2);
	--button-background-active:rgba(var(--link-color-dark),0.4);
	--button-background-color:inherit;
	border-color:currentColor;
	border-top:0;
	border-bottom:0;
}

[visualtheme="basic"] .preview-window-window h2 button.close {
	--button-background-hover:rgba(255,0,0,0.2);
	--button-background-active:rgba(191,0,0,0.4);
	--button-background-color:inherit;
}


/* CSS configuration for Brightness */
[visualtheme="contrast"],
[visualtheme="contrast"] body {
	--emphasis-bg:var(--dropdown-bg)!important;
	--emphasis-bg-text:var(--content-color)!important;
	--emphasis-bg-text-dark:var(--content-color-dark)!important;
	--accent-bg:var(--dropdown-bg)!important;
	--accent-bg-text:var(--content-color)!important;
	--accent-bg-text-dark:var(--content-color-dark)!important;
	--emphasis-bg-rgb:var(--dropdown-bg-rgb)!important;
	--emphasis-bg-text-rgb:var(--content-color-rgb)!important;
	--emphasis-bg-text-dark-rgb:var(--content-color-dark-rgb)!important;
	--accent-bg-rgb:var(--dropdown-bg-rgb)!important;
	--accent-bg-text-rgb:var(--content-color-rgb)!important;
	--accent-bg-text-dark-rgb:var(--content-color-dark-rgb)!important;
}

[visualtheme="contrast"] *:not(body),[visualtheme="contrast"] :before,[visualtheme="contrast"] :after  {
  text-shadow:none!important;
  box-shadow:none!important;
  -webkit-filter:none!important;
  filter:none!important;
  backdrop-filter:none!important;
  -webkit-backdrop-filter:none!important;
	background-blend-mode:normal!important;
	mix-blend-mode:normal!important;
}

[visualtheme="basic"] .mpisto-content, [visualtheme="contrast"] .mpisto-content,
[visualtheme="basic"] .mpisto-options-content, [visualtheme="contrast"] .mpisto-options-content,
[visualtheme="basic"] .mpisto-editors-content, [visualtheme="contrast"] .mpisto-editors-content {
	box-shadow:-4px 0 0 0 var(--community-header-bg),
				4px 0 0 0 var(--community-header-bg),
				0 4px 0 0 var(--community-header-bg),
				4px 4px 0 0 var(--community-header-bg),
				-4px 4px 0 0 var(--community-header-bg),
				-5px 0 0 0 var(--community-header-text),
				5px 0 0 0 var(--community-header-text),
				0 5px 0 0 var(--community-header-text),
				5px 5px 0 0 var(--community-header-text),
				-5px 5px 0 0 var(--community-header-text),
				0 -1px 0 0 var(--community-header-text),
				-5px -1px 0 0 var(--community-header-text),
				5px -1px 0 0 var(--community-header-text)!important;
}
[visualtheme="basic"] .mpisto-content .mpisto-wrapper, [visualtheme="contrast"] .mpisto-content .mpisto-wrapper,
[visualtheme="basic"] .mpisto-options-content, [visualtheme="contrast"] .mpisto-options-content,
[visualtheme="basic"] .mpisto-editors-content, [visualtheme="contrast"] .mpisto-editors-content {
border-color:var(--community-header-text);
border-top-color:var(--community-header-bg);
}

[visualtheme="basic"] .mpisto-header-container, [visualtheme="contrast"] .mpisto-header-container {
		margin-bottom:0;
}


[visualtheme="contrast"] .mpisto-sticky-header-container {
		box-shadow:0 1px 0 0 var(--floating-header-text)!important;
}

[visualtheme="basic"] ::-webkit-scrollbar-thumb:vertical, [visualtheme="contrast"] ::-webkit-scrollbar-thumb:vertical {
	min-height:20px;
	background-size:10px 100%;
	background-image:
linear-gradient(180deg, transparent 0%, transparent calc(50% - 5px), currentColor calc(50% - 5px), currentColor calc(50% - 3px), transparent calc(50% - 3px), transparent calc(50% - 1px)),
linear-gradient(180deg, transparent 0%, transparent calc(50% - 1px), currentColor calc(50% - 1px), currentColor calc(50% - -1px), transparent calc(50% - -1px), transparent calc(50% - -3px)), 
linear-gradient(180deg, transparent 0%, transparent calc(50% - -3px), currentColor calc(50% - -3px), currentColor calc(50% - -5px), transparent calc(50% - -5px), transparent calc(50% - -7px));
}

[visualtheme="basic"] ::-webkit-scrollbar-thumb:horizontal, [visualtheme="contrast"] ::-webkit-scrollbar-thumb:horizontal {
	min-height:20px;
	background-size:100% 10px;
	background-image:
linear-gradient(90deg, transparent 0%, transparent calc(50% - 5px), currentColor calc(50% - 5px), currentColor calc(50% - 3px), transparent calc(50% - 3px), transparent calc(50% - 1px)),
linear-gradient(90deg, transparent 0%, transparent calc(50% - 1px), currentColor calc(50% - 1px), currentColor calc(50% - -1px), transparent calc(50% - -1px), transparent calc(50% - -3px)), 
linear-gradient(90deg, transparent 0%, transparent calc(50% - -3px), currentColor calc(50% - -3px), currentColor calc(50% - -5px), transparent calc(50% - -5px), transparent calc(50% - -7px));
}

[visualtheme="contrast"] ::-webkit-scrollbar-thumb {
	background-color:var(--scrollbar-track-color-1);
	color:var(--scrollbar-track-text);
	border-color:currentColor;
	box-shadow:0 0px 0 2px inset var(--scrollbar-track-color-1)!important;
	border-width:1px;
}




[visualtheme="contrast"] .mpisto-header-container .link,
[visualtheme="contrast"] .mpisto-sticky-header-container .link {
	transition:background-color 400ms ease 0ms, color 10ms ease 10ms, border-color 10ms ease 10ms, transform 200ms ease 0ms;
}

[visualtheme="contrast"] .color-header .link,
[visualtheme="contrast"] .mpisto-sticky-header-container .link {
	background-clip:padding-box;
	background-color:var(--dropdown-bg);
	color:var(--content-color);
}

[visualtheme="contrast"] .mpisto-header-container .link:hover, 
[visualtheme="contrast"] .mpisto-header-container .link:focus, 
[visualtheme="contrast"] .mpisto-header-container .cpe-dropdown.cpe-is-active .link, 
[visualtheme="contrast"] .mpisto-header-container .link.active,
[visualtheme="contrast"] .mpisto-sticky-header-container .link:hover, 
[visualtheme="contrast"] .mpisto-sticky-header-container .link:focus, 
[visualtheme="contrast"] .mpisto-sticky-header-container .cpe-dropdown.cpe-is-active .link, 
[visualtheme="contrast"] .mpisto-sticky-header-container .link.active {
	-webkit-animation:none;
	animation:none;
	color:var(--button-color-text);
	border-color:currentColor;
	background-color:var(--button-color);
}

[visualtheme="contrast"] .mpisto-global-sidebar {
	box-shadow:inset -1px 0px var(--content-border)!important;
}

[visualtheme="contrast"] .mpisto-personal-links {
	box-shadow:inset 1px 0px var(--content-border)!important;
}

@media only screen and (max-width:511px) {
	[visualtheme="contrast"] .mpisto-global-sidebar {
		box-shadow:inset 0px -1px var(--content-border)!important;
	}

	[visualtheme="contrast"] .mpisto-personal-links {
		box-shadow:inset 0px 1px var(--content-border)!important;
	}
}

[visualtheme="contrast"] body.constructor .mpisto-content .mpisto-wrapper::before {
	opacity:1;
	box-shadow:0 0 0 1000vh var(--content-bg)!important;
}


[visualtheme="contrast"] .cpe-dropdown.cpe-has-shadow .cpe-dropdown__content {
box-shadow:0 2px 0 4px rgba(0,0,0,.4), 0 2px 0 4px rgba(255,255,255,0.4)!important;
}

[visualtheme="contrast"] header.mpisto-navbar .cpe-dropdown__content, [visualtheme="contrast"] header.mpisto-navbar .cpe-dropdown-level-2__content, [visualtheme="contrast"] .cpe-dropdown.cpe-has-dark-shadow .cpe-dropdown__content {
box-shadow:0 4px 0 6px rgba(0,0,0,.4), 0 4px 0 6px rgba(255,255,255,0.4)!important;
}

[visualtheme="contrast"] .mpisto-spotlight-footer nav item {
	color:var(--content-color);
}

[visualtheme="contrast"] .mpisto-spotlight-footer nav item ul num {
	-webkit-text-stroke:0px;
}


[visualtheme="contrast"] .mpisto-spotlight-footer nav item ul a li {
	color:var(--content-color);
}


[visualtheme="contrast"] .gradient-overlay-2 {
	-webkit-mask-image:linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5));
	mask-image:linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5));
}

[visualtheme="contrast"] :not([cpe-tooltip]):not(.freepseudo):not(.gradient-overlay):not(.mpisto-wrapper):not(.cpe-toggle__label):not(.cpe-dropdown):not(.cpe-dropdown-level-2__content):not(.cpe-dropdown__content):not(.cpe-community-header):not(time):not(.cpe-list):not(.cpe-banner-notification):not(input):not(.mpisto-content):not(body):before,
[visualtheme="contrast"] :not([cpe-tooltip]):not(.freepseudo):not(.mpisto-wrapper):not(.cpe-toggle__label):not(.cpe-dropdown):not(.cpe-dropdown-level-2__content):not(.cpe-dropdown__content):not(.cpe-community-header):not(.cpe-list):not(.cpe-banner-notification):not(.mpisto-article-wrapper):not(.mpisto-header-container):not(.mpisto-global-sidebar):not(input):not(body):not(em):after, 
[visualtheme="basic"] header.mpisto-navbar:after, [visualtheme="basic"] footer.mpisto-footer:after, [visualtheme="basic"] .mpisto-option-pane:after, [visualtheme="basic"] .mpisto-content:after, [visualtheme="basic"] .mpisto-option-way:after, [visualtheme="basic"] header.mpisto-navbar:before, [visualtheme="basic"] footer.mpisto-footer:before, [visualtheme="basic"] .mpisto-option-pane:before, [visualtheme="basic"] .mpisto-option-way:before {
display:none!important;
}

.main[visualtheme="contrast"] .cpe-toggle__input:checked+.cpe-toggle__label::before{
background-color:var(--button-color-text);
}
.main[visualtheme="contrast"] .cpe-toggle__input:checked+.cpe-toggle__label::after{
background-color:var(--button-color);
}


[visualtheme="basic"] .cpe-dropdown__content, 
[visualtheme="contrast"] .cpe-dropdown__content,
[visualtheme="basic"] .cpe-dropdown__content .cpe-list.cpe-is-linked .cpe-dropdown-level-2 .cpe-dropdown-level-2__content, 
[visualtheme="contrast"] .cpe-dropdown__content .cpe-list.cpe-is-linked .cpe-dropdown-level-2 .cpe-dropdown-level-2__content {
	--dropdown-opacity:1!important;
}

[visualtheme="basic"] .cpe-banner-notification,
[visualtheme="contrast"] .cpe-banner-notification {
	background-color:var(--dropdown-bg); /* Temp */
}


	[visualtheme="contrast"] .mpisto-global-sidebar .link:active, [visualtheme="contrast"] .mpisto-global-sidebar .link:focus, [visualtheme="contrast"] .mpisto-global-sidebar .cpe-dropdown.cpe-is-active .link {
	background-color:rgb(var(--global-nav-link-background-active));
}

[visualtheme="contrast"] .mpisto-content .mpisto-wrapper, [visualtheme="contrast"] .pane-on .mpisto-article-wrapper:after, [visualtheme="basic"] .mpisto-content .mpisto-wrapper {
  background-color:var(--content-bg);
}

[visualtheme="contrast"] .mpisto-option-pane, [visualtheme="basic"] .mpisto-option-pane {
  background-color:var(--accent-bg);
}



[visualtheme="contrast"] header.mpisto-navbar,
[visualtheme="basic"] header.mpisto-navbar {
  background-color:var(--content-color);
}


.main[visualtheme="contrast"] .cpe-community-header {
background-color:var(--community-header-bg);
}

.main[visualtheme="contrast"] .cpe-community-header::after {
    background-color:var(--community-header-bg);
}

.main[visualtheme="contrast"] .cpe-community-header .cpe-community-header__sitename a, .main[visualtheme="contrast"] .cpe-community-header .cpe-tabs__tab-label,  .main[visualtheme="contrast"] .cpe-community-header .cpe-tabs__tab-label a, .main[visualtheme="contrast"] .cpe-community-header .cpe-community-header__counter {
color:var(--community-header-text);
}

.main[visualtheme="contrast"] .cpe-community-header .cpe-community-header__sitename a:hover, .main[visualtheme="contrast"] .cpe-community-header .cpe-tabs__tab:hover,  .main[visualtheme="contrast"] .cpe-community-header .cpe-tabs__tab:hover .cpe-tabs__tab-label,  .main[visualtheme="contrast"] .cpe-community-header .cpe-tabs__tab:hover .cpe-tabs__tab-label>a {
color:rgba(var(--community-header-text), 0.8);
}


[visualtheme="contrast"] .pane-on .mpisto-article-wrapper:after {
  opacity:1;
}


/* Edge and Safari fix */
@supports (position:-webkit-sticky) {
body {
	z-index:3;
}

body:after {
	z-index:1;
}
}

/* Header Buttons - Based on Win8-10 High Contrast titlebar button styling */
.main[visualtheme="contrast"] .cpe-community-header .cpe-button.cpe-is-secondary {
  background-color:var(--content-bg);
  color:var(--content-color);
  border-color:transparent!important;
  background-clip:padding-box!important;
}

.main[visualtheme="contrast"] .cpe-community-header .cpe-button.cpe-is-secondary:hover {
  background-color:var(--button-color);
  color:var(--button-color-text);
  border-color:currentcolor!important;
}

.main[visualtheme="contrast"] .cpe-community-header:before {
    background-image:none;
}


/*
[visualtheme="contrast"] header.mpisto-navbar {
  border-top-color:var(--content-color);
}

[visualtheme="contrast"] header.mpisto-navbar .link:hover, [visualtheme="contrast"] header.mpisto-navbar .cpe-dropdown:hover .link {
  background-color:var(--button-color);
  color:var(--button-color-text);
  border-color:var(--button-color-text);
}
*/

.main[visualtheme="contrast"] .cpe-dropdown__content .cpe-list.cpe-is-linked>li.cpe-is-selected>a:not(.cpe-button), .main[visualtheme="contrast"] .cpe-dropdown__content .cpe-list.cpe-is-linked>li:hover>a:not(.cpe-button){
  background-color:var(--button-color);
  color:var(--button-color-text);
  border-color:var(--button-color-text);
}


[visualtheme="contrast"] .notification.cpe-dropdown__content .cpe-list.cpe-has-lines-between.cpe-has-ellipsis > li:not(:last-child):not(.empty) {
  transition:background-color .2s ease 0.01s, color .2s;
}


[visualtheme="contrast"] .notification.cpe-dropdown__content .cpe-list.cpe-has-lines-between.cpe-has-ellipsis > li:not(:last-child):not(.empty):hover {
  background-color:var(--button-color);
}

[visualtheme="contrast"]  .notification.cpe-dropdown__content .cpe-list.cpe-has-lines-between.cpe-has-ellipsis > li:not(:last-child) div h3, [visualtheme="contrast"]  .notification.cpe-dropdown__content .cpe-list.cpe-has-lines-between.cpe-has-ellipsis > li:not(:last-child) div h6 {
  color:var(--content-color)!important;
  transition:color .2s;
}

[visualtheme="contrast"]  .notification.cpe-dropdown__content .cpe-list.cpe-has-lines-between.cpe-has-ellipsis > li:not(:last-child):hover div h3, [visualtheme="contrast"]  .notification.cpe-dropdown__content .cpe-list.cpe-has-lines-between.cpe-has-ellipsis > li:not(:last-child):hover div h6 {
  color:var(--button-color-text)!important;
}

/* Floating buttons */
[visualtheme="contrast"] .cpe-floating-button {
	box-shadow:0 0 0 1.4px currentColor!important;
	transition-property:color,background-color,box-shadow;
}

[visualtheme="contrast"] .cpe-floating-button:hover {
	background-color:var(--button-color)!important;
	color:var(--button-color-text)!important;
}


[visualtheme="contrast"] stroke {
  color:var(--content-color)!important;
}

[visualtheme="contrast"] pre, [visualtheme="contrast"] code {
  background-color:var(--content-bg);
  color:var(--content-color);
  border-color:var(--content-border);
}

[visualtheme="contrast"] mark {
color:var(--button-color-text);
background-color:var(--button-color);
}


[visualtheme="contrast"] .mpisto-module h2, /*[visualtheme="contrast"] .lightbox h1, [visualtheme="contrast"] .lightbox h2, [visualtheme="contrast"] .lightbox footer,*/ [visualtheme="contrast"] .mpisto-module:not(.editor-module) .buttons {
  background-color:var(--community-header-bg);
  color:var(--community-header-text);
  z-index:initial;
  position:static;
}

[visualtheme="contrast"] .mpisto-module.editor-module h2 {
  background-color:var(--button-color);
  color:var(--button-color-text);
}

/*[visualtheme="contrast"] footer.mpisto-footer .mpisto-wrapper .mpisto-footer-container th {
  background-color:var(--button-color);
  color:var(--button-color-text);
  z-index:initial;
  position:static;
}
*/

[visualtheme="contrast"] .lightbox-container:target {
background-color:var(--content-bg);
}

/* Banner */
.main[visualtheme="contrast"] .cpe-banner-notification__container{box-shadow:0 2px 0 2px rgba(0,0,0,.2), 0 2px 0 2px rgba(255,255,255,0.2)!important;}

.main[visualtheme="contrast"] .cpe-banner-notification__icon{background-color:var(--button-color); color:var(--button-color-text);}

/* Modules */


[visualtheme="contrast"] .lightbox .footer {
	border-color:var(--content-color);
}
[visualtheme="contrast"] .mpisto-module:not(.editor-module) {
box-shadow:0 0 0 3px var(--content-border)!important;
}

/* Checkboxes */
[visualtheme="basic"] input[type="checkbox"], [visualtheme="basic"] input[type="radio"] ,
[visualtheme="contrast"] input[type="checkbox"], [visualtheme="contrast"] input[type="radio"],
[visualtheme="simple"] input[type="checkbox"], [visualtheme="simple"] input[type="radio"]  {
	--checkbox-checked-bg:var(--link-color);
	--checkbox-checked-bg-hover:var(--link-color-dark);
	--checkbox-checked-shadow:var(--checkbox-checked-bg);
	--checkbox-checked-shadow-hover:var(--checkbox-checked-bg-hover);
	--checkbox-checked-text:var(--link-color-text);
}


[visualtheme="contrast"] input[type="checkbox"], [visualtheme="contrast"] input[type="radio"] {
	--checkbox-unchecked-shadow:var(--content-color);
  box-shadow:0 0 0 1px var(--checkbox-unchecked-shadow)!important;
}

[visualtheme="contrast"] input[type="checkbox"]:hover, [visualtheme="contrast"] input[type="radio"]:hover {
  box-shadow:0 0 0 1px var(--checkbox-active-bg)!important;
}

[visualtheme="contrast"] input[type="checkbox"]:active, [visualtheme="contrast"] input[type="radio"]:active {
  box-shadow:0 0 0 1px var(--checkbox-active-bg)!important;
}

[visualtheme="contrast"] input[type="checkbox"]:checked, [visualtheme="contrast"] input[type="radio"]:checked,
[visualtheme="contrast"] input[type="checkbox"]:indeterminate, [visualtheme="contrast"] input[type="radio"]:indeterminate {
  box-shadow:0 0 0 1px var(--checkbox-checked-shadow)!important;
}

[visualtheme="contrast"] input[type="checkbox"]:checked:hover, [visualtheme="contrast"] input[type="radio"]:checked:hover, 
[visualtheme="contrast"] input[type="checkbox"]:indeterminate:hover, [visualtheme="contrast"] input[type="radio"]:indeterminate:hover {
  box-shadow:0 0 0 1px var(--checkbox-checked-shadow-hover)!important;
}


[visualtheme="contrast"] input[type="checkbox"]:checked:active, [visualtheme="contrast"] input[type="radio"]:checked:active,
[visualtheme="contrast"] input[type="checkbox"]:indeterminate:active, [visualtheme="contrast"] input[type="radio"]:indeterminate:active {
  box-shadow:0 0 0 1px var(--checkbox-active-bg)!important;
}


[visualtheme="contrast"] .page-1 .option-link.p1, [visualtheme="contrast"] .page-2 .option-link.p2, [visualtheme="contrast"] .page-3 .option-link.p3, [visualtheme="contrast"] .page-4 .option-link.p4, [visualtheme="contrast"] .page-5 .option-link.p5, [visualtheme="contrast"] .page-6 .option-link.p6  {
  background-color:var(--button-color-text);
  border-color:var(--button-color);
  color:var(--button-color);
}

[visualtheme="contrast"] .option-link, [visualtheme="contrast"] .option-link span {
color:inherit;
}

[visualtheme="contrast"] .mpisto-options-content, [visualtheme="contrast"] .mpisto-editors-content, [visualtheme="basic"] .mpisto-options-content, [visualtheme="basic"] .mpisto-editors-content {
	background-color:var(--content-bg);
}

[visualtheme="contrast"] .mpisto-option-way > div .fieldset fieldset .fieldset {
	border-color:currentColor;
}


[visualtheme="basic"] .mpisto-option-way h1, [visualtheme="basic"] .editor-header, [visualtheme="basic"] .mpisto-content .mpisto-page-header-title,
[visualtheme="contrast"] .mpisto-option-way h1, [visualtheme="contrast"] .editor-header, [visualtheme="contrast"] .mpisto-content .mpisto-page-header-title {
	background-image:none;
	color:var(--community-header-text);
	border-bottom:1px solid var(--community-header-text);
	background-color:var(--community-header-bg);
	box-shadow:-1px 0px var(--community-header-bg), 1px 0px var(--community-header-bg),
			   0px -1px 0 1px var(--community-header-bg)!important;

}

[visualtheme="basic"] .mpisto-userpages-header,
[visualtheme="contrast"] .mpisto-userpages-header {
	background-color:var(--community-header-bg);
}


[visualtheme="basic"] .preview-window-window,
[visualtheme="contrast"] .preview-window-window {
	box-shadow:-4px 0 0 0 var(--community-header-bg),
				4px 0 0 0 var(--community-header-bg),
				0 4px 0 0 var(--community-header-bg),
				4px 4px 0 0 var(--community-header-bg),
				-4px 4px 0 0 var(--community-header-bg),
				-5px 0 0 0 var(--community-header-text),
				5px 0 0 0 var(--community-header-text),
				0 5px 0 0 var(--community-header-text),
				5px 5px 0 0 var(--community-header-text),
				-5px 5px 0 0 var(--community-header-text),
				0 -1px 0 0 var(--community-header-text),
				-5px -1px 0 0 var(--community-header-text),
				5px -1px 0 0 var(--community-header-text)!important;

}


[visualtheme="basic"] .preview-window-window.inactive,
[visualtheme="contrast"] .preview-window-window.inactive {
	box-shadow:-4px 0 0 0 var(--floating-header-bg),
				4px 0 0 0 var(--floating-header-bg),
				0 4px 0 0 var(--floating-header-bg),
				4px 4px 0 0 var(--floating-header-bg),
				-4px 4px 0 0 var(--floating-header-bg),
				-5px 0 0 0 var(--floating-header-text),
				5px 0 0 0 var(--floating-header-text),
				0 5px 0 0 var(--floating-header-text),
				5px 5px 0 0 var(--floating-header-text),
				-5px 5px 0 0 var(--floating-header-text),
				0 -1px 0 0 var(--floating-header-text),
				-5px -1px 0 0 var(--floating-header-text),
				5px -1px 0 0 var(--floating-header-text)!important;

}


[visualtheme="basic"] .preview-window-window section, [visualtheme="contrast"] .preview-window-window section {
	border-color:var(--community-header-text);
}

[visualtheme="basic"] .preview-window-window.inactive section, [visualtheme="contrast"] .preview-window-window.inactive section {
	border-color:var(--floating-header-text);
}


[visualtheme="contrast"] .preview-window-window h2 button {
	background-clip:padding-box;
	background-color:var(--dropdown-bg);
	color:var(--content-color);
}


[visualtheme="contrast"] .preview-window-window h2 button:hover {
	background-color:var(--button-color);
	color:var(--button-color-text);
	border-color:currentColor;
}


[visualtheme="basic"] .mpisto-right-pane,
[visualtheme="contrast"] .mpisto-right-pane {
	background-color:var(--community-header-bg);
	box-shadow:-1px 0 0 0 var(--community-header-text),
				0px 1px 0 0 var(--community-header-bg),
				1px 0px 0 0 var(--community-header-bg),
				1px 1px 0 0 var(--community-header-bg)!important;

}

@media only screen and (max-width:1019px) {
[visualtheme="basic"] .mpisto-right-pane,
[visualtheme="contrast"] .mpisto-right-pane {
	box-shadow:0 -1px 0 var(--community-header-text),
			   0px 1px 0 0 var(--community-header-bg),
			   1px 0px 0 0 var(--community-header-bg),
			   1px 1px 0 0 var(--community-header-bg),			   
			   0px -1px 0 0 var(--community-header-bg),
			   -1px 0px 0 0 var(--community-header-bg),
			   -1px 1px 0 0 var(--community-header-bg),
			    1px -1px 0 var(--community-header-text),
			   -1px -1px 0 var(--community-header-text)!important;

}

}



[visualtheme="contrast"] .editor-controls {
	border-color:var(--content-color);
}



/* Title */
[visualtheme="basic"] .mpisto-content .mpisto-page-header .mpisto-title,
[visualtheme="contrast"] .mpisto-content .mpisto-page-header .mpisto-title, 
[visualtheme="basic"] .mpisto-option-way h1,
[visualtheme="contrast"] .mpisto-option-way h1 {
	-webkit-text-fill-color:var(--community-header-bg);
	-webkit-text-stroke-color:var(--community-header-text);
	text-shadow:none;
}

/* Buttons */
[visualtheme="contrast"] .cpe-button {
    box-shadow:0 0 0 1.5px var(--button-color)!important;
}


[visualtheme="contrast"] .cpe-button:hover {
    box-shadow:0 0 0 1.5px var(--button-color-dark)!important;
}

[visualtheme="contrast"] .cpe-button:active,
[visualtheme="contrast"] .cpe-button.cpe-is-active {
    box-shadow:0 0 0 1.5px var(--button-color-dark-super)!important;
}

[visualtheme="contrast"] .cpe-button.cpe-is-secondary,
[visualtheme="contrast"] .cpe-button.cpe-is-secondary:hover,
[visualtheme="contrast"] .cpe-button.cpe-is-secondary:active,
[visualtheme="contrast"] .cpe-button.cpe-is-secondary.cpe-is-active {
    box-shadow:0 0 0 1.5px currentColor!important;
}


[visualtheme="contrast"] .cpe-button.cpe-is-text,
[visualtheme="contrast"] .cpe-button.cpe-is-text:hover,
[visualtheme="contrast"] .cpe-button.cpe-is-text:active,
[visualtheme="contrast"] .cpe-button.cpe-is-text.cpe-is-active {
    box-shadow:0 0 0 1.5px transparent!important;
}

[visualtheme="contrast"] .cpe-input,
[visualtheme="contrast"] .cpe-input:hover,
[visualtheme="contrast"] .cpe-input:focus,
[visualtheme="contrast"] .cpe-select.cpe-is-active .cpe-input {
    box-shadow:0 0 0 1.5px currentColor!important;
}


[visualtheme="contrast"] .cpe-input:focus,
[visualtheme="contrast"] .cpe-select.cpe-is-active .cpe-input {
    box-shadow:0 0 0 1.5px var(--input-box-solid)!important;
}


/* Masthead */
[visualtheme="contrast"] .mpisto-userpages-header .mpisto-profile-masthead hgroup, [visualtheme="contrast"] .mpisto-userpages-header .mpisto-userpages-main{
	background-image:none
}

[visualtheme="contrast"] .mpisto-userpages-header .mpisto-profile-masthead {
	box-shadow:0 0 0 1px var(--content-border)!important;
}

/* Lightbox button stylings. Based on Community Header button theming on non-contrast modes */
[visualtheme="contrast"] .mpisto-module:not(.editor-module) .buttons .cpe-button /*,[visualtheme="contrast"] .lightbox h1 .cpe-button, [visualtheme="contrast"] .lightbox h2 .cpe-button, [visualtheme="contrast"] .lightbox footer .cpe-button*/  {
background-color:var(--community-header-text);
color:var(--community-header-bg);
border-color:var(--community-header-text);
-webkit-background-clip:padding;
background-clip:padding-box;
}

/*[visualtheme="contrast"] .lightbox h1 .cpe-button:hover, [visualtheme="contrast"] .lightbox h2 .cpe-button:hover, [visualtheme="contrast"] .lightbox footer .cpe-button:hover,*/ [visualtheme="contrast"] .mpisto-module:not(.editor-module) .buttons .cpe-button:hover  {
background-color:var(--community-header-text-dark);
color:var(--community-header-bg);
border-color:var(--community-header-text-dark);
}


/*[visualtheme="contrast"] .lightbox h1 .cpe-button:active, [visualtheme="contrast"] .lightbox h2 .cpe-button:active, [visualtheme="contrast"] .lightbox footer .cpe-button:active,*/ [visualtheme="contrast"] .mpisto-module:not(.editor-module) .buttons .cpe-button:active  {
background-color:rgba(var(--community-header-text-dark-rgb), 0.8);
color:var(--community-header-bg);
border-color:rgba(var(--community-header-text-dark-rgb), 0.8);
}


/*[visualtheme="contrast"] .lightbox h1 .cpe-button.cpe-is-secondary, [visualtheme="contrast"] .lightbox h2 .cpe-button.cpe-is-secondary, [visualtheme="contrast"] .lightbox footer .cpe-button.cpe-is-secondary,*/ [visualtheme="contrast"] .mpisto-module:not(.editor-module) .buttons .cpe-button.cpe-is-secondary  {
color:var(--community-header-text);
background-color:transparent;
border-color:var(--community-header-text);
}

/*[visualtheme="contrast"] .lightbox h1 .cpe-button.cpe-is-secondary:hover, [visualtheme="contrast"] .lightbox h2 .cpe-button.cpe-is-secondary:hover, [visualtheme="contrast"] .lightbox footer .cpe-button.cpe-is-secondary:hover,*/ [visualtheme="contrast"] .mpisto-module:not(.editor-module) .buttons .cpe-button.cpe-is-secondary:hover {
color:var(--community-header-text-dark);
background-color:transparent;
border-color:var(--community-header-text-dark);
}


/*[visualtheme="contrast"] .lightbox h1 .cpe-button.cpe-is-secondary:active, [visualtheme="contrast"] .lightbox h2 .cpe-button.cpe-is-secondary:active, [visualtheme="contrast"] .lightbox footer .cpe-button.cpe-is-secondary:active,*/ [visualtheme="contrast"] .mpisto-module:not(.editor-module) .buttons .cpe-button.cpe-is-secondary:active {
color:rgba(var(--community-header-text-dark-rgb), 0.8);
background-color:transparent;
border-color:rgba(var(--community-header-text-dark-rgb), 0.8);
}


/*[visualtheme="contrast"] .lightbox h1 .cpe-button.cpe-is-text, [visualtheme="contrast"] .lightbox h2 .cpe-button.cpe-is-text, [visualtheme="contrast"] .lightbox footer .cpe-button.cpe-is-text,*/ [visualtheme="contrast"] .mpisto-module:not(.editor-module) .buttons .cpe-button.cpe-is-text  {
color:var(--community-header-text);
background-color:transparent;
border:0;
}

/*[visualtheme="contrast"] .lightbox h1 .cpe-button.cpe-is-text:hover, [visualtheme="contrast"] .lightbox h2 .cpe-button.cpe-is-text:hover, [visualtheme="contrast"] .lightbox footer .cpe-button.cpe-is-text:hover*/, [visualtheme="contrast"] .mpisto-module:not(.editor-module) .buttons .cpe-button.cpe-is-text:hover {
color:var(--community-header-text-dark);
background-color:transparent;
border:0;
}

/*[visualtheme="contrast"] .lightbox h1 .cpe-button.cpe-is-text:active, [visualtheme="contrast"] .lightbox h2 .cpe-button.cpe-is-text:active, [visualtheme="contrast"] .lightbox footer .cpe-button.cpe-is-text:active*/, [visualtheme="contrast"] .mpisto-module:not(.editor-module) .buttons .cpe-button.cpe-is-text:active {
color:rgba(var(--community-header-text-dark-rgb), 0.8);
background-color:transparent;
border:0;
}



/* Simple Theme */
[visualtheme="simple"] .mpisto-header-container {
margin:-1px;
background-image:linear-gradient(to bottom, var(--button-color-blend-light) 35%, var(--button-color-blend) 70%)!important;
}

[visualtheme="simple"]	.color-header .title a {
		text-decoration:none;
		color:inherit;
		overflow:hidden;
		text-overflow:ellipsis;
	}

[visualtheme="simple"]	.color-header .title a:hover {
	color:var(--button-color-text-dark);
}

[visualtheme="simple"] .mpisto-header-container::before {
	background-image:none;
}

[visualtheme="simple"] .mpisto-header-container::after {
	background-color:transparent;
	background-image:none;
	filter:none;
}


[visualtheme="simple"] .mpisto-global-sidebar {
	--global-nav-color:var(--button-color-blend-light-rgb)!important;
	--global-nav-text-color:var(--button-color-text)!important;
	--global-nav-link-color-active:var(--button-color-text-dark)!important;
	--global-nav-link-background-active:var(--button-color-blend-rgb)!important;
	--global-nav-opacity:1!important;
}


[visualtheme="simple"] .mpisto-header-container {
	background-color:var(--button-color-blend-light);
	color:var(--button-color-text);
}


[visualtheme="simple"] .mpisto-header-container:before {
	display:none;
	background-color:transparent;
}

[visualtheme="simple"] .mpisto-header-container .link.active, 
[visualtheme="simple"] .mpisto-header-container .link:hover, 
[visualtheme="simple"] .mpisto-header-container .link:focus, 
[visualtheme="simple"] .mpisto-header-container .cpe-dropdown.cpe-is-active .link {
	background-color:var(--button-color-blend-light);
	-webkit-animation:none;
	animation:none;
	border-color:transparent;
	box-shadow:none;
	color:var(--button-color-text-dark);
}


[visualtheme="simple"] .color-header .link:hover, 
[visualtheme="simple"] .color-header .cpe-dropdown.cpe-is-active .link {
	background-color:var(--button-color-blend);
}

[visualtheme="simple"] .mpisto-global-sidebar .link:active, 
[visualtheme="simple"] .mpisto-global-sidebar .link:focus,
[visualtheme="simple"] .mpisto-global-sidebar .link.active,
[visualtheme="simple"] .mpisto-global-sidebar .cpe-dropdown.cpe-is-active .link {
	background-color:rgb(var(--global-nav-link-background-active));
}

	[visualtheme="simple"] .mpisto-header-container .link:hover *:not([filter]), 
	[visualtheme="simple"] .mpisto-header-container .link.active *:not([filter]), 
	[visualtheme="simple"] .mpisto-global-sidebar .link:hover *:not([filter]):not([filter]) {
		filter:none;
	}




[visualtheme="simple"] .mpisto-content .mpisto-wrapper:after {
	opacity:1;
}

[visualtheme="simple"] .mpisto-content .mpisto-page-header .mpisto-title, 
[visualtheme="simple"] .mpisto-option-way h1 {
	-webkit-text-fill-color:currentColor;
	-webkit-text-stroke-color:transparent;
	text-shadow:none;
	color:inherit;
}

[visualtheme="simple"] .mpisto-content .mpisto-page-header-title,
[visualtheme="simple"] .editor-header,
[visualtheme="simple"] .mpisto-option-way h1,
[visualtheme="simple"] .mpisto-userpages-header {
	background-image:none;
	background-color:var(--emphasis-bg);
	color:var(--emphasis-bg-text);
}

[visualtheme="simple"] .mpisto-option-pane {
	background-color:var(--community-header-bg-blend-light);
	color:var(--community-header-text);
}

[visualtheme="simple"] .mpisto-option-pane .option-link {
	color:inherit;
}

[visualtheme="simple"] .page-1 .option-link.p1, 
[visualtheme="simple"] .page-2 .option-link.p2, 
[visualtheme="simple"] .page-3 .option-link.p3, 
[visualtheme="simple"] .page-4 .option-link.p4, 
[visualtheme="simple"] .page-5 .option-link.p5, 
[visualtheme="simple"] .page-6 .option-link.p6 {
	color:var(--community-header-text-dark);
	background-color:var(--community-header-bg-blend);
	border-color:var(--community-header-bg-blend);
}

[visualtheme="simple"] .cpe-dropdown__content,
[visualtheme="simple"] .cpe-dropdown__content .cpe-list.cpe-is-linked .cpe-dropdown-level-2 .cpe-dropdown-level-2__content {
	border-color:transparent;
	color:var(--link-color-text);
	background-color:var(--link-color-blend-light);
}

[visualtheme="simple"] .cpe-dropdown__content:after,
[visualtheme="simple"] .cpe-dropdown__content .cpe-list.cpe-is-linked .cpe-dropdown-level-2 .cpe-dropdown-level-2__content:after {
	display:none!important;
}

[visualtheme="simple"] .cpe-dropdown__content .cpe-list.cpe-is-linked>li.cpe-is-selected>a:not(.cpe-button), 
[visualtheme="simple"] .cpe-dropdown__content .cpe-list.cpe-is-linked>li:hover>a:not(.cpe-button){
	background-color:var(--link-color-blend);
	color:var(--link-color-text-dark);
}

[visualtheme="simple"] .cpe-dropdown::after {
	border-bottom-color:var(--link-color-blend-light);
}


[visualtheme="simple"]  .notification.cpe-dropdown__content .cpe-list > li:not(:last-child):not(.empty) a:hover:after {
	opacity:1;
	color:var(--link-color-text-dark);
	background-color:var(--link-color-blend);
}

[visualtheme="simple"] .notification.cpe-dropdown__content .cpe-list > li:not(:last-child) a div h3,
[visualtheme="simple"] .notification.cpe-dropdown__content .cpe-list > li:not(:last-child) div h6 {
	color:var(--link-color-text);
}

[visualtheme="simple"] .notification.cpe-dropdown__content .cpe-list > li:last-child  a {
	color:var(--link-color-text);
}

/* Discussions specific CSS */
[visualtheme="contrast"] .mpisto-discussions-wrapper .card {
	border-color:var(--content-border);
}

[visualtheme="basic"] .mpisto-discuss-2018 .mpisto-content, 
[visualtheme="contrast"] .mpisto-discuss-2018 .mpisto-content {
	background-color:var(--community-header-bg);
}

[visualtheme="contrast"] .mpisto-discussions-wrapper .card.main .post-send .post-area {
	box-shadow:0 0 1px rgba(var(--link-color-rgb),0.8), 0 0 0 3px rgba(0,0,0,.2), 0 0 0 3px rgba(255,255,255,0.2)!important;
	background-color:var(--content-bg);
}

/* Selection Styles per B19 */
[visualtheme="contrast"] ::selection {
color:var(--button-color-text);
background-color:var(--button-color);
}

[visualtheme="contrast"] ::-moz-selection {
color:var(--button-color-text);
background-color:var(--button-color);
}


/* Inverse Selection Styles per B19 */
@supports (-moz-appearance:none) {
[visualtheme="contrast"] .notification.cpe-dropdown__content .cpe-list.cpe-has-lines-between.cpe-has-ellipsis > li:not(:last-child):not(.empty):hover ::selection {
background-color:var(--button-color-text);
color:var(--button-color);
}

[visualtheme="contrast"] .notification.cpe-dropdown__content .cpe-list.cpe-has-lines-between.cpe-has-ellipsis > li:not(:last-child):not(.empty):hover ::-moz-selection {
background-color:var(--button-color-text);
color:var(--button-color);
}

.main[visualtheme="contrast"] .cpe-community-header .cpe-button.cpe-is-secondary:hover ::selection {
background-color:var(--button-color-text);
color:var(--button-color);
}

.main[visualtheme="contrast"] .cpe-community-header .cpe-button.cpe-is-secondary:hover ::-mozselection {
background-color:var(--button-color-text);
color:var(--button-color);
}

.main[visualtheme="contrast"] .cpe-button:not(.cpe-is-secondary) ::selection {
background-color:var(--button-color-text);
color:var(--button-color);
}

.main[visualtheme="contrast"] .cpe-button:not(.cpe-is-secondary) ::-moz-selection {
background-color:var(--button-color-text);
color:var(--button-color);
}

.main[visualtheme="contrast"] .cpe-dropdown__content .cpe-list.cpe-is-linked>li.cpe-is-selected>a ::selection {
background-color:var(--button-color-text);
color:var(--button-color);
}

.main[visualtheme="contrast"] .cpe-dropdown__content .cpe-list.cpe-is-linked>li.cpe-is-selected>a ::-moz-selection {
background-color:var(--button-color-text);
color:var(--button-color);
}

.main[visualtheme="contrast"] .cpe-dropdown__content .cpe-list.cpe-is-linked>li:hover>a ::selection {
background-color:var(--button-color-text);
color:var(--button-color);
}

.main[visualtheme="contrast"] .cpe-dropdown__content .cpe-list.cpe-is-linked>li:hover>a ::-moz-selection {
background-color:var(--button-color-text);
color:var(--button-color);
}

.main[visualtheme="contrast"] .cpe-dropdown__content .cpe-list.cpe-is-linked>li.cpe-is-selected>a::selection {
background-color:var(--button-color-text);
color:var(--button-color);
}

.main[visualtheme="contrast"] .cpe-dropdown__content .cpe-list.cpe-is-linked>li.cpe-is-selected>a::-moz-selection {
background-color:var(--button-color-text);
color:var(--button-color);
}

.main[visualtheme="contrast"] .cpe-dropdown__content .cpe-list.cpe-is-linked>li:hover>a::selection {
background-color:var(--button-color-text);
color:var(--button-color);
}

.main[visualtheme="contrast"] .cpe-dropdown__content .cpe-list.cpe-is-linked>li:hover>a::-moz-selection {
background-color:var(--button-color-text);
color:var(--button-color);
}
}

/* Forced Colors */
[visualcolors="forced"]  {
--background-overlay:auto!important;
}

.theme-A[visualcolors="forced"]  {
--background-image:url("")!important;
--background-color:#000000!important;
--link-color:#f20884!important;
--content-bg:#000000!important;
--content-border:#1fb714!important;
--content-color:#fbf305!important;
--button-color:#006412!important;
--community-header-bg:#0000d3!important;
--floating-header-bg:#02abea!important;
}

.theme-B[visualcolors="forced"]  {
--background-image:url("")!important;
--background-color:#000000!important;
--link-color:#f20884!important;
--content-bg:#000000!important;
--content-border:#c0c0c0!important;
--content-color:#1fb714!important;
--button-color:#0000d3!important;
--community-header-bg:#02abea!important;
--floating-header-bg:#4700a5!important;
}

.theme-C[visualcolors="forced"]  {
--background-image:url("")!important;
--background-color:#000000!important;
--link-color:#fbf305!important;
--content-bg:#000000!important;
--content-border:#1fb714!important;
--content-color:#ffffff!important;
--button-color:#02abea!important;
--community-header-bg:#4700a5!important;
--floating-header-bg:#0000d3!important;
}


.theme-D[visualcolors="forced"]  {
--background-image:url("")!important;
--background-color:#ffffff!important;
--link-color:#0000d3!important;
--content-bg:#ffffff!important;
--content-border:#562c05!important;
--content-color:#000000!important;
--button-color:#4700a5!important;
--community-header-bg:#000000!important;
--floating-header-bg:#ffffff!important;
}


/* Luna Colors */
[visualcolors="lunacolors"]  {
--background-overlay:auto!important;
--floating-header-bg:auto!important;
}

[visualcolors="lunacolors"],
[visualcolors="lunacolors"] body  {
--background-image:url("https://i.pinimg.com/originals/75/da/f4/75daf4ba563e173cddcd7b9e86a39257.jpg")!important;
--body-display:legacy!important;
--background-va:top!important;
--background-size:stretched!important;
--background-no-tiling:false!important;
}

.theme-A[visualcolors="lunacolors"]  { /* Blue */
--background-color:#215dc6!important;
--link-color:#215dc6!important;
--content-bg:#edead9!important;
--content-border:#7292e1!important;
--content-color:#333333!important;
--button-color:#47ab47!important;
--community-header-bg:#215dc6!important;
}

.theme-B[visualcolors="lunacolors"]  { /* Olive */
--background-color:#8e997d!important;
--link-color:#56662d!important;
--content-bg:#edead9!important;
--content-border:#a8b689!important;
--content-color:#333333!important;
--button-color:#51824a!important;
--community-header-bg:#8ea06e!important;
}

.theme-C[visualcolors="lunacolors"]  { /* Silver */
--background-color:#3f3d3d!important;
--link-color:#3f3d3d!important;
--content-bg:#edead9!important;
--content-border:#acb0be!important;
--content-color:#333333!important;
--button-color:#238f29!important;
--community-header-bg:#8c8ba0!important;
}


.theme-D[visualcolors="lunacolors"]  { /* Zune */
--background-color:#666666!important;
--link-color:#000080!important;
--content-bg:#e2e2e2!important;
--content-border:#555555!important;
--content-color:#000000!important;
--button-color:#e07330!important;
--community-header-bg:#282828!important;
}


/* Classic Forced Colors */
.theme-A[visualcolors="classicforced"]  {
--background-image:url("")!important;
--background-color:#000000!important;
--link-color:#8080ff!important;
--content-bg:#000000!important;
--content-border:#00ff00!important;
--content-color:#ffff00!important;
--button-color:#008000!important;
--community-header-bg:#0000ff!important;
--floating-header-bg:#00ffff!important;
}

.theme-B[visualcolors="classicforced"]  {
--background-image:url("")!important;
--background-color:#000000!important;
--link-color:#8080ff!important;
--content-bg:#000000!important;
--content-border:#c0c0c0!important;
--content-color:#00ff00!important;
--button-color:#0000FF!important;
--community-header-bg:#00ffff!important;
--floating-header-bg:#000040!important;
}

.theme-C[visualcolors="classicforced"]  {
--background-image:url("")!important;
--background-color:#000000!important;
--link-color:#ffff00!important;
--content-bg:#000000!important;
--content-border:#3ff23f!important;
--content-color:#ffffff!important;
--button-color:#1AEBFF!important;
--community-header-bg:#37006e!important;
--floating-header-bg:#00002f!important;
}


.theme-D[visualcolors="classicforced"]  {
--background-image:url("")!important;
--background-color:#ffffff!important;
--link-color:#00009f!important;
--content-bg:#ffffff!important;
--content-border:#600000!important;
--content-color:#000000!important;
--button-color:#37006E!important;
--community-header-bg:#000000!important;
--floating-header-bg:#ffffff!important;
}