/* Buttons */

body:not(.contrast):not(.basic) .highcontrastbutton.wds-dropdown {
  display:none;
}

body:not(.contrast):not(.basic) .clearhighcontrastbutton.wds-button {
  display:none;
}

.mpisto-options-content .highcontrastmodes {
  display:none;
}


.mpisto-options-content .filtermodes {
  display:none;
}

@supports (filter:saturate(0)) or (-webkit-filter:saturate(0)) {
.mpisto-options-content .filternotice {
  display:none;
}

.mpisto-options-content .filtermodes {
  display:block;
}
}

@supports (--color:red) {
body:not(.contrast):not(.basic) .highcontrastbutton.wds-dropdown {
  display:inline-block;
}


.contrast .highcontrastbutton.wds-dropdown, .basic .highcontrastbutton.wds-dropdown {
  display:none;
}

.highcontrastbutton .wds-button {
  vertical-align:baseline;
}

.mpisto-options-content .contrastnotice {
  display:none;
}

.mpisto-options-content .highcontrastmodes {
  display:block;
}
}
/* Remove the default High Contrast mode for Edge 15+ since we use our version of HighContrast, improved than ever */
* {
-ms-high-contrast-adjust:none;
}



/* CSS configuration for Brightness */
.contrast *,.contrast :before,.contrast :after  {
  text-shadow:none!important;
  box-shadow:none!important;
  -webkit-filter:none!important;
  filter:none!important;
  backdrop-filter:none!important;
  -webkit-backdrop-filter:none!important;
}

.basic *,.basic :before,.basic :after, [class*="filter"] *, [class*="filter"] :before, [class*="filter"] :after  {
  -webkit-filter:none!important;
  filter:none!important;
  backdrop-filter:none!important;
  -webkit-backdrop-filter:none!important;
}


.contrast :not(.wds-dropdown):not(.wds-community-header):not(time):not(.wds-list):not(input):before,.contrast :not(.wds-dropdown):not(.wds-community-header):not(.wds-list):not(.mpisto-article-wrapper):not(input):not(em):after, .basic header.mpisto-navbar:after, .basic footer.mpisto-footer:after, .basic header.mpisto-footer-container:after, .basic .mpisto-option-pane:after, .basic .mpisto-content:after, .basic .mpisto-option-way:after, .basic .theme-portal:after,.basic header.mpisto-navbar:before, .basic footer.mpisto-footer:before, .basic header.mpisto-footer-container:before, .basic .mpisto-option-pane:before, .basic .mpisto-content:before, .basic .mpisto-option-way:before, .basic .theme-portal:before  {
display:none!important;
}

.contrast .mpisto-content, .contrast .mpisto-option-way, .contrast .pane-on .mpisto-article-wrapper:after, .basic .mpisto-content, .basic .mpisto-option-way {
  background-color:var(--content-bg);
}

.contrast header.mpisto-footer-container, .contrast .mpisto-option-pane, .contrast .theme-portal, .basic header.mpisto-footer-container, .basic .mpisto-option-pane {
  background-color:var(--dropdown-bg);
}

.contrast header.mpisto-navbar, .contrast footer.mpisto-footer, .contrast .theme-portal, .basic header.mpisto-navbar, .basic footer.mpisto-footer, .basic .theme-portal {
  background-color:var(--content-color);
}

.contrast .pane-on .mpisto-article-wrapper:after {
  opacity:1;
}

.FilterA {
-webkit-filter:saturate(0);
filter:saturate(0);
-webkit-backdrop-filter:saturate(0);
backdrop-filter:saturate(0)
}

.FilterB {
-webkit-filter:saturate(0) invert(1) ;
filter:saturate(0) invert(1) ;
-webkit-backdrop-filter:saturate(0) invert(1) ;
backdrop-filter:saturate(0) invert(1) ;
}

.FilterC {
-webkit-filter:invert(1) ;
filter:invert(1) ;
-webkit-backdrop-filter:invert(1) ;
backdrop-filter:invert(1) ;
}

.FilterD {
-webkit-filter:invert(1) hue-rotate(181deg) brightness(0.9) saturate(1.4) contrast(1.15);
filter:invert(1) hue-rotate(181deg) brightness(0.9) saturate(1.4) contrast(1.15);
-webkit-backdrop-filter:invert(1) hue-rotate(181deg) brightness(0.9) saturate(1.4) contrast(1.15);
backdrop-filter:invert(1) hue-rotate(181deg) brightness(0.9) saturate(1.4) contrast(1.15);
}

.FilterE {
-webkit-filter:brightness(0.9) saturate(1.4) contrast(1.15) hue-rotate(1deg);
filter:brightness(0.9) saturate(1.4) contrast(1.15) hue-rotate(1deg);
-webkit-backdrop-filter:brightness(0.9) saturate(1.4) contrast(1.15) hue-rotate(1deg);
backdrop-filter:brightness(0.9) saturate(1.4) contrast(1.15) hue-rotate(1deg);
}

.FilterF {
-webkit-filter:sepia(1) hue-rotate(211deg) invert(1) brightness(0.9) saturate(1.4) contrast(1.15);
filter:sepia(1) hue-rotate(211deg) invert(1)  brightness(0.9) saturate(1.4) contrast(1.15);
-webkit-backdrop-filter:sepia(1) hue-rotate(211deg) invert(1)  brightness(0.9) saturate(1.4) contrast(1.15);
backdrop-filter:sepia(1) hue-rotate(211deg) invert(1) brightness(0.9) saturate(1.4) contrast(1.15);
}

/* Header Buttons - Based on Win8-10 High Contrast titlebar button styling */
.main .contrast .wds-community-header .wds-button.wds-is-secondary {
  background-color:var(--content-bg);
  color:var(--content-color);
  border-color:transparent!important;
  background-clip:padding-box;
}

.main .contrast .wds-community-header .wds-button.wds-is-secondary:hover {
  background-color:var(--button-color);
  color:var(--button-color-text);
  border-color:currentcolor!important;
}

.main .contrast .wds-community-header:before {
    background-image:none;
}

/* Theme Portal */
.contrast .theme-portal .link:hover {
  color:var(--content-color);
  background-color:var(--content-bg);
  border-bottom-color:var(--content-color);
}

/*
.contrast header.mpisto-navbar {
  border-top-color:var(--content-color);
}

.contrast header.mpisto-navbar .link:hover, .contrast header.mpisto-navbar .wds-dropdown:hover .link {
  background-color:var(--button-color);
  color:var(--button-color-text);
  border-color:var(--button-color-text);
}
*/

.main .contrast .wds-dropdown__content .wds-list.wds-is-linked>li.wds-is-selected>a, .main .contrast .wds-dropdown__content .wds-list.wds-is-linked>li:hover>a{
  background-color:var(--button-color);
  color:var(--button-color-text);
  outline:1px solid var(--button-color-text);
  outline-offset:-1px;
}


.contrast .notification.wds-dropdown__content .wds-list.wds-has-lines-between.wds-has-ellipsis > li:not(:last-child):not(.empty) {
  transition:background-color .2s ease 0.01s, color .2s;
}


.contrast .notification.wds-dropdown__content .wds-list.wds-has-lines-between.wds-has-ellipsis > li:not(:last-child):not(.empty):hover {
  background-color:var(--button-color);
}

.contrast  .notification.wds-dropdown__content .wds-list.wds-has-lines-between.wds-has-ellipsis > li:not(:last-child) div h3, .contrast  .notification.wds-dropdown__content .wds-list.wds-has-lines-between.wds-has-ellipsis > li:not(:last-child) div h6 {
  color:var(--content-color)!important;
  transition:color .2s;
}

.contrast  .notification.wds-dropdown__content .wds-list.wds-has-lines-between.wds-has-ellipsis > li:not(:last-child):hover div h3, .contrast  .notification.wds-dropdown__content .wds-list.wds-has-lines-between.wds-has-ellipsis > li:not(:last-child):hover div h6 {
  color:var(--button-color-text)!important;
}

.contrast stroke {
  color:var(--content-color)!important;
}

.contrast pre, .contrast code, .basic pre, .basic code {
  background-color:var(--content-bg);
  color:var(--content-color);
  border-color:var(--content-border);
}

.contrast mark {
color:var(--button-color-text);
background-color:var(--button-color);
}


.contrast .mpisto-module h2, .contrast .lightbox h1, .contrast .lightbox h2, .contrast .lightbox footer, .contrast .mpisto-module .buttons {
  background-color:rgb(var(--community-header-bg));
  color:rgb(var(--community-header-text));
  z-index:initial;
  position:static;
}

.contrast footer.mpisto-footer .mpisto-wrapper .mpisto-footer-container th {
  background-color:var(--content-bg);
  color:var(--content-color);
  z-index:initial;
  position:static;
}


.contrast .lightbox-container:target {
background-color:var(--dropdown-bg);
}

/* Banner */
.main .contrast .wds-banner-notification__container{box-shadow:0 2px 0 2px rgba(0,0,0,.2), 0 2px 0 2px rgba(255,255,255,0.2)!important;}

/* Modules */
.contrast .mpisto-module, .contrast .lightbox {
box-shadow:0 0 0 3px var(--content-border)!important;
}

/* Options */
.contrast input[type="checkbox"], .contrast input[type="radio"] {
box-shadow:0 0 0px 1px var(--content-color)!important;
}

/*
.contrast input[type="checkbox"]:hover, .contrast input[type="radio"]:hover {
box-shadow:0 0 0px 1px rgb(var(--link-color))!important;
}


.contrast input[type="checkbox"]:active, .contrast input[type="radio"]:active {
box-shadow:0 0 0px 1px var(--content-color)!important;
}

.contrast input[type="checkbox"]:checked, .contrast input[type="radio"]:checked {
box-shadow:0 0 0px 1px var(--button-color)!important;
}

.contrast input[type="checkbox"]:checked:hover, .contrast input[type="radio"]:checked:hover {
box-shadow:0 0 0px 1px var(--button-color-dark)!important;
}


.contrast input[type="checkbox"]:checked:active, .contrast input[type="radio"]:checked:active {
box-shadow:0 0 0px 1px var(--button-color-text)!important;
}
*/

.contrast .page-1 .option-link.p1, .contrast .page-2 .option-link.p2, .contrast .page-3 .option-link.p3, .contrast .page-4 .option-link.p4, .contrast .page-5 .option-link.p5  {
  background-color:var(--button-color-text);
  border-color:var(--button-color);
  color:var(--button-color);
}

.contrast .option-link, .contrast .option-link span {
color:inherit;
}


.contrast .mpisto-option-way > div .fieldset {
  background-image:none;
}

/* Masthead */
.contrast .mpisto-userpages-header .mpisto-profile-masthead hgroup, .contrast .mpisto-userpages-header .mpisto-userpages-main{
	background-image:none
}

.contrast .mpisto-userpages-header .mpisto-profile-masthead {
	box-shadow:0 0 0 1px var(--content-border)!important;
}

/* Lightbox button stylings. Based on Community Header button theming on non-contrast modes */
.contrast .mpisto-module .buttons .wds-button, .contrast .lightbox h1 .wds-button, .contrast .lightbox h2 .wds-button, .contrast .lightbox footer .wds-button  {
background-color:rgb(var(--community-header-text));
color:rgb(var(--community-header-bg));
border-color:rgb(var(--community-header-text));
-webkit-background-clip:padding;
background-clip:padding-box;
}

.contrast .lightbox h1 .wds-button:hover, .contrast .lightbox h2 .wds-button:hover, .contrast .lightbox footer .wds-button:hover, .contrast .mpisto-module .buttons .wds-button:hover  {
background-color:rgba(var(--community-header-text), 0.8);
color:rgb(var(--community-header-bg));
border-color:rgba(var(--community-header-text), 0.8);
}


.contrast .lightbox h1 .wds-button.wds-is-secondary, .contrast .lightbox h2 .wds-button.wds-is-secondary, .contrast .lightbox footer .wds-button.wds-is-secondary, .contrast .mpisto-module .buttons .wds-button.wds-is-secondary  {
color:rgb(var(--community-header-text));
background-color:transparent;
border-color:rgb(var(--community-header-text));
}

.contrast .lightbox h1 .wds-button.wds-is-secondary:hover, .contrast .lightbox h2 .wds-button.wds-is-secondary:hover, .contrast .lightbox footer .wds-button.wds-is-secondary:hover, .contrast .mpisto-module .buttons .wds-button.wds-is-secondary:hover {
color:rgba(var(--community-header-text), 0.8);
background-color:transparent;
border-color:rgba(var(--community-header-text), 0.8);
}


.contrast .lightbox h1 .wds-button.wds-is-text, .contrast .lightbox h2 .wds-button.wds-is-text, .contrast .lightbox footer .wds-button.wds-is-text, .contrast .mpisto-module .buttons .wds-button.wds-is-text  {
color:rgb(var(--community-header-text));
background-color:transparent;
border:0;
}

.contrast .lightbox h1 .wds-button.wds-is-text:hover, .contrast .lightbox h2 .wds-button.wds-is-text:hover, .contrast .lightbox footer .wds-button.wds-is-text:hover, .contrast .mpisto-module .buttons .wds-button.wds-is-text:hover {
color:rgba(var(--community-header-text), 0.8);
background-color:transparent;
border:0;
}


/* Fix for Edge in Filters */
@supports (position:-ms-page) and (position:sticky) {
[class*="filter"] header.mpisto-footer-container {
  position:sticky;
}


[class*="filter"] [style*="visibility:"] * {
  display:none;
}

[class*="filter"] .mpisto-gnav {
  position:sticky;
}


[class*="filter"] .top-gap {
  margin-top:20px;
}



body[class*="filter"]{
margin-top:0;
}

[class*="filter"].options {
  margin-bottom:0; /* Rollback bottom margin set by Color Filter being enabled on MS Edge because bottom toolbar does not vitrually exist in Preferences */
}

}

/* Selection Styles per B19 */
.contrast ::selection {
color:var(--button-color-text);
background-color:var(--button-color);
}

.contrast ::-moz-selection {
color:var(--button-color-text);
background-color:var(--button-color);
}


/* Inverse Selection Styles per B19 */
@supports (position:-ms-page) or (-moz-appearance:none) {
.contrast .notification.wds-dropdown__content .wds-list.wds-has-lines-between.wds-has-ellipsis > li:not(:last-child):not(.empty):hover ::selection {
background-color:var(--button-color-text);
color:var(--button-color);
}

.contrast .notification.wds-dropdown__content .wds-list.wds-has-lines-between.wds-has-ellipsis > li:not(:last-child):not(.empty):hover ::-moz-selection {
background-color:var(--button-color-text);
color:var(--button-color);
}

.main .contrast .wds-community-header .wds-button.wds-is-secondary:hover ::selection {
background-color:var(--button-color-text);
color:var(--button-color);
}

.main .contrast .wds-community-header .wds-button.wds-is-secondary:hover ::-mozselection {
background-color:var(--button-color-text);
color:var(--button-color);
}

.main .contrast .wds-button:not(.wds-is-secondary) ::selection {
background-color:var(--button-color-text);
color:var(--button-color);
}

.main .contrast .wds-button:not(.wds-is-secondary) ::-moz-selection {
background-color:var(--button-color-text);
color:var(--button-color);
}

.main .contrast .wds-dropdown__content .wds-list.wds-is-linked>li.wds-is-selected>a ::selection {
background-color:var(--button-color-text);
color:var(--button-color);
}

.main .contrast .wds-dropdown__content .wds-list.wds-is-linked>li.wds-is-selected>a ::-moz-selection {
background-color:var(--button-color-text);
color:var(--button-color);
}

.main .contrast .wds-dropdown__content .wds-list.wds-is-linked>li:hover>a ::selection {
background-color:var(--button-color-text);
color:var(--button-color);
}

.main .contrast .wds-dropdown__content .wds-list.wds-is-linked>li:hover>a ::-moz-selection {
background-color:var(--button-color-text);
color:var(--button-color);
}

.main .contrast .wds-dropdown__content .wds-list.wds-is-linked>li.wds-is-selected>a::selection {
background-color:var(--button-color-text);
color:var(--button-color);
}

.main .contrast .wds-dropdown__content .wds-list.wds-is-linked>li.wds-is-selected>a::-moz-selection {
background-color:var(--button-color-text);
color:var(--button-color);
}

.main .contrast .wds-dropdown__content .wds-list.wds-is-linked>li:hover>a::selection {
background-color:var(--button-color-text);
color:var(--button-color);
}

.main .contrast .wds-dropdown__content .wds-list.wds-is-linked>li:hover>a::-moz-selection {
background-color:var(--button-color-text);
color:var(--button-color);
}
}

/* Themes */
.contrast.win10.theme-A {
--background-image:url("");
--background-color:#000000;
--link-color:128,128,255;
--content-bg:#000000;
--dropdown-bg:#080808;
--content-border:#00ff00;
--content-color:#ffff00;
--button-color:#008000;
--button-color-dark:#0F990F;
--button-color-text:white;
--community-header-bg:0,0,255;
--community-header-text:23,23,23;
;
}

.contrast.win10.theme-B {
--background-image:url("");
--background-color:#000000;
--link-color:128,128,255;
--content-bg:#000000;
--dropdown-bg:#080808;
--content-border:#c0c0c0;
--content-color:#00ff00;
--button-color:#0000FF;
--button-color-dark:#0000E6;
--button-color-text:black;
--community-header-bg:0,255,255;
--community-header-text:23,23,23;
}

.contrast.win10.theme-C {
--background-image:url("");
--background-color:#000000;
--link-color:255,255,0;
--content-bg:#000000;
--dropdown-bg:#080808;
--content-border:#3ff23f;
--content-color:#ffffff;
--button-color:#1AEBFF;
--button-color-dark:#00D2E6;
--button-color-text:black;
--community-header-bg:55,0,110;
--community-header-text:248,248,248;
}


.contrast.win10.theme-D {
--background-image:url("");
--background-color:#ffffff;
--link-color:0,0,159;
--content-bg:#ffffff;
--dropdown-bg:#FFFFFF;
--content-border:#600000;
--content-color:#000000;
--button-color:#37006E;
--button-color-dark:#4A0D87;
--button-color-text:white;
--community-header-bg:0,0,0;
--community-header-text:248,248,248;
}
