/* Standard (V1) */
:root {
--background-image:url("headbg.jpg");
--background-color:#e995ca;
--link-color:24,187,197;
--content-bg:#ffffff;
--dropdown-bg:#FFFFFF;
--content-border:#ccc;
--content-color:#000000;
--button-color:#18BBC5;
--button-color-dark:#03A2AC;
--button-color-text:black;
--community-header-bg:0,0,255;
--community-header-text:23,23,23;
}

/* Standard (V2) */
:root {
--background-image:url("headbg2.jpg");
--background-color:#e995ca;
--link-color:25,77,204;
--content-bg:#ffffff;
--dropdown-bg:#FFFFFF;
--content-border:#ccc;
--content-color:#010101;
--button-color:#194cd1;
--button-color-dark:#3366EB;
--button-color-text:white;
--community-header-bg:153,153,255;
--community-header-text:23,23,23;
}

/* Standard (V3) */
:root {
--background-image:url("headbg7.jpg");
--background-color:#672752;
--link-color:232,30,40;
--content-bg:#fffaf5;
--dropdown-bg:#FFFFFF;
--content-border:#bbbbbb;
--content-color:#111122;
--button-color:#CA3A22;
--button-color-dark:#E4553D;
--button-color-text:white;
--community-header-bg:88,53,130;
--community-header-text:248,248,248;
}

/* Standard (V4) */
:root {
--background-image:url("headbg7.jpg");
--background-color:#672752;
--link-color:232,30,40;
--content-bg:#fffcfa;
--dropdown-bg:#FFFFFF;
--content-border:#bbbbbb;
--content-color:#111122;
--button-color:#583582;
--button-color-dark:#724F9B;
--button-color-text:white;
--community-header-bg:202,58,34;
--community-header-text:248,248,248;
}

/* Standard (V5) */
:root {
--background-image:url("headbg8.jpg");
--background-color:#67f0ff;
--link-color:163,71,208;
--content-bg:#fbedfe;
--dropdown-bg:#F4EFF9;
--content-border:#ffdc87;
--content-color:#2a4b6c;
--button-color:#7AB247;
--button-color-dark:#60992D;
--button-color-text:black;
--community-header-bg:82,192,251;
--community-header-text:23,23,23;
}

/* Standard (V6) */
:root {
--background-image:url("headbg9.jpg");
--background-color:#ffa257;
--link-color:255,0,0;
--content-bg:#f9e6e8;
--dropdown-bg:#F3ECEE;
--content-border:#bdbdbd;
--content-color:#1f0000;
--button-color:#F10C35;
--button-color-dark:#FF264D;
--button-color-text:white;
--community-header-bg:230,162,138;
--community-header-text:23,23,23;
}

/* Standard (V7) */
:root {
--background-image:url("headbg9.jpg");
--background-color:#ffa257;
--link-color:255,0,0;
--content-bg:#fcf0f2;
--dropdown-bg:#ffffff;
--content-border:#bdbdbd;
--content-color:#1f0000;
--button-color:#e6a28a;
--button-color-dark:#cc8166;
--button-color-text:black;
--community-header-bg:241,12,53;
--community-header-text:248,248,248;
}

/* Standard (V8) */
:root {
--background-image:url("headbg2.jpg");
--background-color:#599ace;
--link-color:114,137,218;
--content-bg:#d9e9f9;
--dropdown-bg:#E4EDF6;
--content-border:#b2b2b2;
--content-color:#10001a;
--button-color:#4E5D94;
--button-color-dark:#6C7BAD;
--button-color-text:white;
--community-header-bg:25,161,95;
--community-header-text:23,23,23;
}

/* Standard (V9) */
:root {
--background-image:url("headbg7.jpg");
--background-color:#ff0000;
--link-color:78,93,148;
--content-bg:#fefff1;
--dropdown-bg:#F5F8F3;
--content-border:#b0cccc;
--content-color:#3c1a2b;
--button-color:#404A57;
--button-color-dark:#5E6670;
--button-color-text:white;
--community-header-bg:149,49,81;
--community-header-text:248,248,248;
}

/* Standard (V10) */
:root {
--background-image:url("headbg7.jpg");
--background-color:#ff0000;
--link-color:78,93,148;
--content-bg:#fffaf5;
--dropdown-bg:#FFFFFF;
--content-border:#b0cccc;
--content-color:#3c1a2b;
--button-color:#953151;
--button-color-dark:#ad4b6a;
--button-color-text:white;
--community-header-bg:64,74,87;
--community-header-text:248,248,248;
}

/* Standard (V11) */
:root {
--background-image:url("headbg8.jpg");
--background-color:#9df6fe;
--link-color:128,0,128;
--content-bg:#f8ceff;
--dropdown-bg:#F2E1F9;
--content-border:#e75254;
--content-color:#0a385a;
--button-color:#A749E7;
--button-color-dark:#8C2CCE;
--button-color-text:black;
--community-header-bg:0,191,255;
--community-header-text:23,23,23;
}

/* Standard (V12) */
:root {
--background-image:url("headbg9.jpg");
--background-color:#ffddbb;
--link-color:224,57,135;
--content-bg:#feb0a4;
--dropdown-bg:#F5D2CE;
--content-border:#9214da;
--content-color:#700658;
--button-color:#F838A9;
--button-color-dark:#DF1C8E;
--button-color-text:black;
--community-header-bg:222,50,204;
--community-header-text:23,23,23;
}

/* Standard (V13) */
:root {
--background-image:url("headbg9.jpg");
--background-color:#ffddbb;
--link-color:224,57,135;
--content-bg:#f2c4b8;
--dropdown-bg:#EFDCD8;
--content-border:#9214da;
--content-color:#700658;
--button-color:#DC32CC;
--button-color-dark:#C518B3;
--button-color-text:black;
--community-header-bg:248,56,169;
--community-header-text:23,23,23;
}

/* Standard */
:root {
--background-image:url("A Wikia Cover.png");
--background-color:#01d7e5;
--link-color:26,74,74;
--content-bg:#f5f5f5;
--dropdown-bg:#FFFFFF;
--content-border:#cccddd;
--content-color:#010000;
--button-color:#18BBC6;
--button-color-dark:#03A2AD;
--button-color-text:black;
--community-header-bg:8,156,166;
--community-header-text:23,23,23;
}


/* Standard Gloved Version ~~ */
:root {
--background-image:url("headbg.jpg");
--background-color:#54d9f8;
--link-color:134,4,152;
--content-bg:#ffecff;
--dropdown-bg:#F6EFF9;
--content-border:#ddf759;
--content-color:#2a2a2a;
--button-color:#70C800;
--button-color-dark:#62AF00;
--button-color-text:black;
--community-header-bg:80,103,155;
--community-header-text:248,248,248;
}

/* Standard Dark Version ~ */
:root {
--background-image:url("headbg3.jpg");
--background-color:#610038;
--link-color:0,0,255;
--content-bg:#282828;
--dropdown-bg:#1A1A1A;
--content-border:#cccccc;
--content-color:#f9f9f9;
--button-color:#00178C;
--button-color-dark:#1029A5;
--button-color-text:white;
--community-header-bg:127,105,105;
--community-header-text:248,248,248;
}

/* Standard Nightly Version */
:root {
--background-image:url("https://d1u5p3l4wpay3k.cloudfront.net/maia_gamepedia/9/98/Bg.jpg?version=b5f279562cd466d98662305ef384edb0");
--background-color:#000;
--link-color:0,255,255;
--content-bg:#3a3a3a;
--dropdown-bg:#232323;
--content-border:#cccddd;
--content-color:#c9d4d5;
--button-color:#264774;
--button-color-dark:#3C5E8D;
--button-color-text:white;
--community-header-bg:102,51,153;
--community-header-text:248,248,248;
}

/* Standard Canary Version (V1) */
:root {
--background-image:url("canary.jpg");
--background-color:#fcc101;
--link-color:231,105,1;
--content-bg:#ebe5da;
--dropdown-bg:#ECEBE8;
--content-border:#ebc780;
--content-color:#1a1a1a;
--button-color:#F5A14C;
--button-color-dark:#DC852E;
--button-color-text:black;
--community-header-bg:225,171,24;
--community-header-text:23,23,23;
}

/* Standard Canary Version */
:root {
--background-image:url("canary.jpg");
--background-color:#f8e9ae;
--link-color:175,66,0;
--content-bg:#fbe7b5;
--dropdown-bg:#F4ECD6;
--content-border:#c9b991;
--content-color:#2b2b2b;
--button-color:#FE7E03;
--button-color-dark:#E57000;
--button-color-text:black;
--community-header-bg:161,119,79;
--community-header-text:248,248,248;
}

/* Standard Beta Version */
:root {
--background-image:url("headbg6-1.jpg");
--background-color:#ac599e;
--link-color:92,187,129;
--content-bg:#ffffff;
--dropdown-bg:#FFFFFF;
--content-border:#cacaca;
--content-color:#000000;
--button-color:#5CBB81;
--button-color-dark:#3FA265;
--button-color-text:black;
--community-header-bg:255,0,0;
--community-header-text:248,248,248;
}


/* Standard Developer Edition Version */
:root {
--background-image:url("dev.jpg");
--background-color:#0000aa;
--link-color:0,170,255;
--content-bg:#0000a8;
--dropdown-bg:#7D7FD0;
--content-border:#aaaacc;
--content-color:#f9f9f9;
--button-color:#00699E;
--button-color-dark:#1280B7;
--button-color-text:white;
--community-header-bg:22,196,196;
--community-header-text:23,23,23;
}

/* Standard Developer Version */
:root {
--background-image:url("headbg6-2.jpg");
--background-color:#d9d9d9;
--link-color:187,187,187;
--content-bg:#ffffff;
--dropdown-bg:#FFFFFF;
--content-border:#cacaca;
--content-color:#000000;
--button-color:#CCCCCC;
--button-color-dark:#B3B3B3;
--button-color-text:black;
--community-header-bg:170,170,170;
--community-header-text:23,23,23;
}

/* Agent */
:root {
--background-image:url("headbg.jpg");
--background-color:#aa00aa;
--link-color:221,154,255;
--content-bg:#1aef28;
--dropdown-bg:#89F093;
--content-border:#b0a1ee;
--content-color:#002200;
--button-color:#18C5BB;
--button-color-dark:#03ACA2;
--button-color-text:black;
--community-header-bg:170,153,0;
--community-header-text:23,23,23;
}

/* Sagent */
:root {
--background-image:url("headbg4.jpg");
--background-color:#e95500;
--link-color:148,24,197;
--content-bg:#fdfeff;
--dropdown-bg:#FFFFFF;
--content-border:#eee;
--content-color:#1a2a3a;
--button-color:#FF7E09;
--button-color-dark:#E66D00;
--button-color-text:black;
--community-header-bg:255,126,9;
--community-header-text:23,23,23;
}

/* Flipin */
:root {
--background-image:url("headbg.jpg");
--background-color:#9e55ac;
--link-color:129,187,92;
--content-bg:#ffffff;
--dropdown-bg:#FFFFFF;
--content-border:#cccccc;
--content-color:#000000;
--button-color:#81BB5C;
--button-color-dark:#65A23F;
--button-color-text:black;
--community-header-bg:0,0,255;
--community-header-text:23,23,23;
}



/* Gleun */
:root {
--background-image:url("headbg6.jpg");
--background-color:#ac599e;
--link-color:92,187,129;
--content-bg:#ffffff;
--dropdown-bg:#FFFFFF;
--content-border:#cccccc;
--content-color:#000000;
--button-color:#5CBB81;
--button-color-dark:#3FA265;
--button-color-text:black;
--community-header-bg:255,0,0;
--community-header-text:248,248,248;
}

/* GleunFlippin */
:root {
--background-image:url("headbg6.jpg");
--background-color:#ca95e9;
--link-color:197,187,24;
--content-bg:#ffffff;
--dropdown-bg:#FFFFFF;
--content-border:#cccccc;
--content-color:#000000;
--button-color:#C5BB18;
--button-color-dark:#ACA203;
--button-color-text:black;
--community-header-bg:255,0,0;
--community-header-text:248,248,248;
}

/* Classic ~ */
:root {
--background-image:url("headbg.jpg");
--background-color:#3975a9;
--link-color:0,0,159;
--content-bg:#d6cec8;
--dropdown-bg:#E2E1DF;
--content-border:#848484;
--content-color:#000000;
--button-color:#08226C;
--button-color-dark:#173485;
--button-color-text:white;
--community-header-bg:46,84,146;
--community-header-text:248,248,248;
}

/* Greeny ~ */
:root {
--background-image:url("headbg.jpg");
--background-color:#aaffaa;
--link-color:24,255,187;
--content-bg:#22bb22;
--dropdown-bg:#8DD890;
--content-border:#00aaff;
--content-color:#d9e9f9;
--button-color:#32DC32;
--button-color-dark:#18C318;
--button-color-text:black;
--community-header-bg:34,170,51;
--community-header-text:23,23,23;
}

/* Brightness A */
:root {
--background-image:url("");
--background-color:#000000;
--link-color:128,128,255;
--content-bg:#000000;
--dropdown-bg:#080808;
--content-border:#00ff00;
--content-color:#ffff00;
--button-color:#008000;
--button-color-dark:#0F990F;
--button-color-text:white;
--community-header-bg:0,0,255;
--community-header-text:23,23,23;
}

/* Brightness B */
:root {
--background-image:url("");
--background-color:#000000;
--link-color:128,128,255;
--content-bg:#000000;
--dropdown-bg:#080808;
--content-border:#c0c0c0;
--content-color:#00ff00;
--button-color:#0000FF;
--button-color-dark:#0000E6;
--button-color-text:black;
--community-header-bg:0,255,255;
--community-header-text:23,23,23;
}

/* Brightness C */
:root {
--background-image:url("");
--background-color:#000000;
--link-color:255,255,0;
--content-bg:#000000;
--dropdown-bg:#080808;
--content-border:#3ff23f;
--content-color:#ffffff;
--button-color:#1AEBFF;
--button-color-dark:#00D2E6;
--button-color-text:black;
--community-header-bg:55,0,110;
--community-header-text:248,248,248;
}

/* Brightness D */
:root {
--background-image:url("");
--background-color:#ffffff;
--link-color:0,0,159;
--content-bg:#ffffff;
--dropdown-bg:#FFFFFF;
--content-border:#600000;
--content-color:#000000;
--button-color:#37006E;
--button-color-dark:#4A0D87;
--button-color-text:white;
--community-header-bg:0,0,0;
--community-header-text:248,248,248;
}

/* Gaming Wiki (V1) */
:root {
--background-image:url("headbg5.jpg");
--background-color:#76f6ff;
--link-color:128,0,128;
--content-bg:#e0e8ee;
--dropdown-bg:#E7EDF1;
--content-border:#ffc0cb;
--content-color:#1a2b3c;
--button-color:#E78097;
--button-color-dark:#CE5D76;
--button-color-text:black;
--community-header-bg:195,132,223;
--community-header-text:23,23,23;
}

/* Gaming Wiki (V2) */
:root {
--background-image:url("headbg5.jpg");
--background-color:#76f6ff;
--link-color:145,19,206;
--content-bg:#34ecc6;
--dropdown-bg:#95EFDE;
--content-border:#e78097;
--content-color:#341b23;
--button-color:#FFE2AC;
--button-color-dark:#E6C384;
--button-color-text:black;
--community-header-bg:192,14,4;
--community-header-text:248,248,248;
}

/* Gaming Wiki (V3) */
:root {
--background-image:url("grwbg.jpg");
--background-color:#28d96d;
--link-color:79,14,141;
--content-bg:#fecb3c;
--dropdown-bg:#F5DF9D;
--content-border:#c3b0a9;
--content-color:#1c6945;
--button-color:#F8523C;
--button-color-dark:#FF6B57;
--button-color-text:white;
--community-header-bg:252,221,94;
--community-header-text:23,23,23;
}

/* Gaming Wiki */
:root {
--background-image:url("grwbg.jpg");
--background-color:#ff00ff;
--link-color:40,217,109;
--content-bg:#d99f6c;
--dropdown-bg:#E4CAB4;
--content-border:#fba944;
--content-color:#1c6945;
--button-color:#fcd32b;
--button-color-dark:#E3C23E;
--button-color-text:black;
--community-header-bg:178,43,178;
--community-header-text:248,248,248;
}

/* Grays ~ */
:root {
--background-image:url("");
--background-color:#eee;
--link-color:187,187,187;
--content-bg:#ffffff;
--dropdown-bg:#FFFFFF;
--content-border:#cccccc;
--content-color:#000000;
--button-color:#CCCCCC;
--button-color-dark:#B3B3B3;
--button-color-text:black;
--community-header-bg:255,255,255;
--community-header-text:23,23,23;
}

/* MameDev (V1) */
:root {
--background-image:url("");
--background-color:#f8f8f8;
--link-color:76,139,202;
--content-bg:#a6e2fa;
--dropdown-bg:#CBEAF7;
--content-border:#85b5c8;
--content-color:#3a3a3a;
--button-color:#4698C6;
--button-color-dark:#2B7EAD;
--button-color-text:black;
--community-header-bg:165,181,198;
--community-header-text:23,23,23;
}

/* MameDev */
:root {
--background-image:url("");
--background-color:#f8f7f6;
--link-color:70,198,138;
--content-bg:#7e86ae;
--dropdown-bg:#B8BED3;
--content-border:#8793cc;
--content-color:#3a3a3a;
--button-color:#E67300;
--button-color-dark:#FF8C19;
--button-color-text:white;
--community-header-bg:70,152,198;
--community-header-text:23,23,23;
}


/* WDS (V1) */
:root {
--background-image:url("");
--background-color:#f6f6f6;
--link-color:0,183,224;
--content-bg:#ffffff;
--dropdown-bg:#FFFFFF;
--content-border:#cccccc;
--content-color:#1a1a1a;
--button-color:#00B7E0;
--button-color-dark:#00A2C7;
--button-color-text:black;
--community-header-bg:64,74,87;
--community-header-text:248,248,248;
}

/* WDS ~ */
:root {
--background-image:url("");
--background-color:#f6f6f6;
--link-color:0,214,214;
--content-bg:#ffffff;
--dropdown-bg:#FFFFFF;
--content-border:#cccccc;
--content-color:#002a32;
--button-color:#00D6D6;
--button-color-dark:#00BDBD;
--button-color-text:black;
--community-header-bg:19,40,44;
--community-header-text:248,248,248;
}


/* Zekzphire Faces ~ */
:root {
--background-image:url("");
--background-color:#a2ddfe;
--link-color:225,74,34;
--content-bg:#fefeff;
--dropdown-bg:#FFFFFF;
--content-border:#7e787d;
--content-color:#020002;
--button-color:#FEAFD3;
--button-color-dark:#E587B1;
--button-color-text:black;
--community-header-bg:99,157,4;
--community-header-text:248,248,248;
}

/* Horoscope Referata */
:root {
--background-image:url("https://upload.wikimedia.org/wikipedia/commons/8/89/Meister_von_San_Vitale_in_Ravenna.jpg");
--background-color:#4b0082;
--link-color:75,255,130;
--content-bg:#961e76;
--dropdown-bg:#C48DB8;
--content-border:#add8e7;
--content-color:#d3e4e5;
--button-color:#800080;
--button-color-dark:#990F99;
--button-color-text:white;
--community-header-bg:128,0,128;
--community-header-text:248,248,248;
}

/* A Help Wiki */
:root {
--background-image:url("http://a-help.referata.com/w/images/Besto-BACK.jpg");
--background-color:#012e55;
--link-color:169,206,58;
--content-bg:#ffffff;
--dropdown-bg:#FFFFFF;
--content-border:#cccccc;
--content-color:#1a1a1a;
--button-color:#F15920;
--button-color-dark:#FF713B;
--button-color-text:white;
--community-header-bg:241,89,32;
--community-header-text:248,248,248;
}

/* Mpisto Scenes (V1) */
:root {
--background-image:url("headbg.jpg");
--background-color:#a99b3a;
--link-color:24,170,213;
--content-bg:#abc123;
--dropdown-bg:#CEDA91;
--content-border:#ace135;
--content-color:#000111;
--button-color:#3D3D99;
--button-color-dark:#5959B2;
--button-color-text:white;
--community-header-bg:61,61,153;
--community-header-text:248,248,248;
}

/* Mpisto Scenes ~ */
:root {
--background-image:url("headbg8.jpg");
--background-color:#52c0fb;
--link-color:122,178,71;
--content-bg:#f0f8ff;
--dropdown-bg:#FFFFFF;
--content-border:#abc123;
--content-color:#000011;
--button-color:#FF7F50;
--button-color-dark:#E66131;
--button-color-text:black;
--community-header-bg:140,204,81;
--community-header-text:23,23,23;
}

/* Besto Besigns */
:root {
--background-image:url("");
--background-color:#000000;
--link-color:255,127,80;
--content-bg:#f0f8ff;
--dropdown-bg:#EFF4F9;
--content-border:#ff7f50;
--content-color:#ff7f50;
--button-color:#DCDCDC;
--button-color-dark:#C3C3C3;
--button-color-text:black;
--community-header-bg:220,220,220;
--community-header-text:23,23,23;
}

/* Best Beta */
:root {
--background-image:url("headbg.jpg");
--background-color:#e995ca;
--link-color:24,187,197;
--content-bg:#ffffff;
--dropdown-bg:#FFFFFF;
--content-border:#000000;
--content-color:#000000;
--button-color:#18BBC5;
--button-color-dark:#03a1ab;
--button-color-text:black;
--community-header-bg:24,187,197;
--community-header-text:23,23,23;
}

/* Latex ~ */
:root {
--background-image:url("headbg7.jpg");
--background-color:#ff3333;
--link-color:23,23,230;
--content-bg:#e6e6ff;
--dropdown-bg:#EAECF9;
--content-border:#b3b3b3;
--content-color:#1a1a1a;
--button-color:#404080;
--button-color-dark:#5C5C99;
--button-color-text:white;
--community-header-bg:0,0,204;
--community-header-text:248,248,248;
}

/* Sharp X1 ~ */
:root {
--background-image:url("");
--background-color:#ff00ff;
--link-color:255,255,0;
--content-bg:#ffffff;
--dropdown-bg:#FFFFFF;
--content-border:#00ff00;
--content-color:#000000;
--button-color:#00FFFF;
--button-color-dark:#00e6e6;
--button-color-text:black;
--community-header-bg:0,0,255;
--community-header-text:23,23,23;
}

/* Medicore ~ */
:root {
--background-image:url("headbg2.jpg");
--background-color:#18bbc5;
--link-color:103,214,225;
--content-bg:#ece1c1;
--dropdown-bg:#EDEADC;
--content-border:#ffa500;
--content-color:#2b2b2b;
--button-color:#A1774F;
--button-color-dark:#BA936E;
--button-color-text:white;
--community-header-bg:112,200,0;
--community-header-text:23,23,23;
}

/* Maxthon ~ */
:root {
--background-image:url("headbg4.jpg");
--background-color:#c9e2f8;
--link-color:255,50,194;
--content-bg:#ffe6f8;
--dropdown-bg:#F6ECF6;
--content-border:#ff5b63;
--content-color:#1a2b3c;
--button-color:#F7C854;
--button-color-dark:#DEAD35;
--button-color-text:black;
--community-header-bg:135,228,209;
--community-header-text:23,23,23;
}

/* Prism ~ */
:root {
--background-image:url("prism.png");
--background-color:#f20c0c;
--link-color:187,34,34;
--content-bg:#e00045;
--dropdown-bg:#E77FA1;
--content-border:#f5cbdd;
--content-color:#e9e9e9;
--button-color:#ED0111;
--button-color-dark:#FF1A2A;
--button-color-text:white;
--community-header-bg:237,173,200;
--community-header-text:23,23,23;
}

/* PokeViews A */
:root {
--background-image:url("views.png");
--background-color:#32cd80;
--link-color:255,127,80;
--content-bg:#e6fae6;
--dropdown-bg:#EAF5ED;
--content-border:#aaccbb;
--content-color:#2b1a2b;
--button-color:#FF4500;
--button-color-dark:#FF5719;
--button-color-text:white;
--community-header-bg:50,205,50;
--community-header-text:23,23,23;
}

/* PokeViews B */
:root {
--background-image:url("headbg9.jpg");
--background-color:#ffc0cb;
--link-color:50,205,50;
--content-bg:#708090;
--dropdown-bg:#B2BBC5;
--content-border:#ffa500;
--content-color:#ffeeff;
--button-color:#FFF7E0;
--button-color-dark:#E6D8B3;
--button-color-text:black;
--community-header-bg:210,105,30;
--community-header-text:248,248,248;
}

/* FANDOM 2.0 */
:root {
--background-image:url("");
--background-color:#f6f6f6;
--link-color:255,106,100;
--content-bg:#f6f6f6;
--dropdown-bg:#FFFFFF;
--content-border:#00d6d6;
--content-color:#002a32;
--button-color:#00D6D6;
--button-color-dark:#00BDBD;
--button-color-text:black;
--community-header-bg:19,40,44;
--community-header-text:248,248,248;
}